<h1>WPS Servers</h1>

<table>
  <tr>
    <th>URL</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wps_servers.each do |server| %>
  <tr>
    <td><%= server.url %></td>
    <td><%= server.descr %></td>
    <td><%= link_to 'Show', server %></td>
    <td><%= link_to 'Edit', edit_wps_server_path(server) %></td>
    <td><%= link_to 'Destroy', server, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New WPS Server', new_wps_server_path %>
