<div>
  <h1 class="page_header">Registered Datasets</h1>

  <form id="filter-form">Filter: <input name="filter" id="filter" value="" maxlength="30" size="30" type="text"></form>

  <table id="sortable_table" class="zebra sortable">
    <thead>
      <tr><th>Name</th><th>Tags</th><th>Published?</th><th class="center">Status</th></tr>
    </thead>
    <tbody id="dataset-list">
      <% @datasets.each do |d| %>
        <tr id="dsid-<%= d.id %>">
          <% hasError = ! d.alive %>
          <td <% if hasError %>class="dataset-error"<% end %>>
            <%= d.title.present? ? d.title : d.identifier %>
            <img src="/assets/small_question_mark.gif" class="info-icon" 
                  alt="More info" title="Click for details" rel="#infotable-<%= d.id %>">
          </td>
          <td>
            <span class="taglist-<%= cssEscape(d.dataserver.url + d.identifier) %>">
              <% d.dataset_tags.each do |t| %>
                <span class="tag"><%= t.tag %></span>
              <% end %>
            </span>
          </td>
          <td>
            <label>
              <span>
                <!-- Create a hidden span to allow sorting by checkbox status -->
                <span class="sortcol hidden" id="cb-<%= d.id %>"><%= d.published ? "1" : "2" %></span>  
                <input class="publish-checkbox" data-datasetid="<%= d.id %>" id="x-<%= d.id %>"
                       type="checkbox" <%= d.published ? raw('checked="yes"') : "" %> >Publish
              </span>
            </label>
          </td>
          <td nowrap>
            <span class="hidden"><%= d.alive ? "1" : "2" %></span>      <!-- Hidden span allows sorting by availability -->
              <%= d.alive ? raw('<img class="status-indicator" src="/assets/layer_available_yes.png" alt="Layer available">') :
                            raw('<img class="status-indicator" src="/assets/layer_available_no.png"  alt="Layer not available">') %></td>
        </tr>
      <% end%>
    </tbody>
  </table>

  <div id="infotables">
    <!-- Create the popups that are displayed when the user clicks (?) -->
    <% @datasets.each do |d| %>
      <div class="infotable" id="infotable-<%= d.id %>">
        <div class="close"></div>
        <h1><span class="dataset-title"><%= d.title.present? ? d.title : d.identifier %></h1>
        <div class="dataset-descr-<%= d.id %>"></div> 
        <div style="overflow:hidden">
          <dl>
            <dt>Server Name:</dt><dd class="server-name"><%= d.dataserver.title %></dd>
            <dt>Data Services:</dt>
            <dd id="results-<%= d.id %>">
              <%= insertGetCapabilitiesLinkBlock(d.dataserver.url, d.dataserver.wms, d.dataserver.wfs, d.dataserver.wcs) %>
            </dd>

              <% if not d.alive %>
                <dt class="error-header">Error State:</dt>
                <dd class="error-body">
                  This layer is no longer available -- the data owner may have renamed or removed it.  Sorry!
                  <br><br>
                  <%= link_to "Unregister Dataset", d, confirm: "Are you sure you want to unregister this dataset?", 
                           method: :delete, :remote => true, :class => "dataset-deleted" %>
                </dd>
              <% end %>

            <dt>Tags:</dt>
            <dd>
              <span class="taglist-deletable-<%= cssEscape(d.dataserver.url + d.identifier) %>">
                <% d.dataset_tags.each do |t| %>
                  <span class="tag">
                    <span class="tag-delete-button" data-url="<%= d.dataserver.url %>" data-identifier="<%= d.identifier %>"></span>
                    <%= t.tag %>
                  </span>
                <% end %>
              </span>
              
              <select style="float:right" class="add-tag-dropdown-control" 
                data-serverurl="<%= d.dataserver.url %>"
                data-datasetidentifier="<%= d.identifier %>" 
                onchange="tagPickerChanged($(this));"> 

                <option value = "Ignore This">Add Tag:</option>
                <% if d.dataserver.wms %>
                  <option value="Mapping">Mapping</option>
                <% end %>

                <% if d.dataserver.wfs or d.dataserver.wcs %>
                  <% @dataset_tags.each do |t| %>
                    <option value="<%= t %>"><%= t %></option>
                  <% end %>
                <% end %>
              </select>
            </dd>
            <dt>Configurations:</td>
            <dd>
              <% if d.mod_configs.size > 0 %>
                <% d.mod_configs.each do |m| %><%= m.name %> <% end %>
              <% else %>
                Not used in any configurations
              <% end %>
            </dd>
          </dl>
        </div>
        <div style="overflow:hidden" class="technical-details">
          <div class="technical-details-header">Technical Details</div>
          <dl>
            <dt>Server Base URL:</dt><dd><%= d.server_url %></dd>
            <dt>Dataset Identifier:</dt><dd><%= d.identifier %></dd>
            <dt>All Get Capabilities Links:</dt><dd>
              <%= insertGetCapabilitiesLinkBlock(d.dataserver.url, :true, :true, :true) %>
            </dd>
            <dt>Projections Available:</dt><dd></dd> 
            <dt>Bounding Box:</dt><dd></dd>
            <dt>Attribute Columns:</dt><dd></dd>
            <dt>Actions:</dt>
            <dd>
              <% if d.mod_configs.size == 0 then 
                    msg = "Are you sure you want to unregister this dataset?"
                 else
                    t = d.mod_configs.size == 1 ? "that" : "those"
                    c = d.mod_configs.size == 1 ? "configuration" : "configurations"

                    msg = "This dataset is in use by " + d.mod_configs.size.to_s + " " + c + ".\n" +
                          "Unregistering it will cause it to be removed from " + t + " " + c + ".\n" + 
                          "Click OK if you are sure you want to unregister this dataset." 
                 end %>

              <%= link_to "Unregister Dataset", d, confirm: raw(msg), 
                           method: :delete, :remote => true, :class => "dataset-deleted" %>
            </dd>
          </dl>
        </div>
        <div>
          <!-- return false; prevents underlying page from scrolling when -->
          <a href="#" class="show-details" onclick="return false;">Show details >>></a>
        </div>    
      </div>
    <% end %>
  </div>

  <%= button_to "Register Datasets", 
                { :controller => "datasets", :action => "mass_import", :id => 1 }, 
                :class => "register-datasets-button" %>

  <br />
</div>



<script type="text/javascript">
 $(document).ready(function() {
    $('#sortable_table').tablesorter();               // Initialize sorter


    // Handle unregistering a dataset
    $(".dataset-deleted").bind("ajax:success",
             function(evt, data, status, xhr) {
                  // Data contains the dataset_id
                  $('#dsid-' + data).remove();                              // Remove the table row from main window
                  $('#infotable-' + data).find(".close").trigger('click');  // Simulate click on the close button to get fade effect
     }).bind("ajax:error", function(evt, data, status, xhr) {
              //do something with the error here
              alert("Could not unregister dataset.");
     });
  });
</script>


<%= render :partial => '/shared/dataset_functions.html.erb' %>    <!-- Needed for showDetails() function -->

<script type="text/javascript">

  // $('a.popup[rel]').overlay();                         // Activate popups for managing dataset tags 
  $('img[rel]').overlay();                             // Set up the layer info overlays
  $('img[rel]').click(function(){ hideDetails(); });   // Close details panel on open

  $('.publish-checkbox').click(function() { publishDataset(this); });


  var publishDataset = function(ctrl) {
    var datasetId = ctrl.getAttribute('data-datasetid');
    var checked   = ctrl.checked;

    // Set sort column contents to checkboxes will sort properly
    var el = $("#cb-" + datasetId);
    el.html(checked ? "1" : "2");

    el.parents("table").trigger("update"); 


    // Notify the server
    $.ajax({
      type:    'PUT',      // PUT combined with url below triggers "update" action on controller
      url:     '<%= url_for(:controller => 'datasets', :action => 'publish') %>',
      data:    'dataset[id]=' + datasetId +
               '&checked='    + checked,
      headers: { 'X-CSRF-Token': '<%= form_authenticity_token.to_s %>' /*,
                 'Content-Type': 'application/json' */},
      success: function(data) {  }
    });
  };


  addDeleteTagClickHander();    // Get ready to delete tags!

  // Make sure table is sorted
  var sorting = [[1,0], [0,0]]; 
  // sort on the first column 

  $('#sortable_table').trigger("update"); 
  $('#sortable_table').trigger("sorton",[sorting]); 


  $(document).bind('ajax:success', function(xhr, data, status) { 
    $('#dataset-id-' + data).hide();
  });


  $(function() {
    var theTable = $('#sortable_table')

    theTable.find("tbody > tr").find("td:eq(1)").mousedown(function(){
      $(this).prev().find(":checkbox").click()
    });

    $("#filter").keyup(function() {
      $.uiTableFilter( theTable, this.value );
    })

    $('#filter-form').submit(function(){
      theTable.find("tbody > tr:visible > td:eq(1)").mousedown();
      return false;
    }).focus(); //Give focus to input field
  });
</script>






