<div>
  <h1 class="page_header">Registered Datasets</h1>

  <div class="filter-box"><form id="filter-form" style="display: inline">Filter: <input name="filter" id="filter" value="" maxlength="30" size="30" type="text"></form>

  <%= button_to "Register New Datasets", 
              { :controller => "datasets", :action => "mass_import", :id => 1 }, 
              :class => "register-datasets-button-top" %>

  </div>

  <table id="sortable_table" class="zebra sortable">
    <thead>
      <tr>
        <th title="Dataset name">Name</th>
        <th class="center" title="Tags attached to dataset">Tags</th>
        <th class="center" title="Date the dataset was registered">Registered</th>
        <th class="center" title="Is dataset visible to non-logged in users?">Published?</th>
        <th class="center" title="Is dataset currently available?">Status</th>
        <th class="center" title="Server hosting the dataset">Server</th>
      </tr>
    </thead>
    <tbody id="dataset-list">
      <% @datasets.each do |d| %>
        <tr id="dsid-<%= d.id %>">
          <% hasError = ! d.alive %>
          <td <% if hasError %>class="dataset-error"<% end %>>
            <%= d.title.present? ? d.title : d.identifier %>
            <span class="info-icon properties" title="Click for details" 
                         rel="#infotable-<%= d.id %>"></span>
          </td>
          <td><!-- Tags -->
            <span class="folder-taglist-<%= cssEscape(d.dataserver.url + d.identifier) %>">
              <% d.dataset_folder_tags.each do |t| %>
                <span class="folder-tag"><%= t.folder_tag %></span>
              <% end %>
            </span>
            <span class="taglist-<%= cssEscape(d.dataserver.url + d.identifier) %>">
              <% getAliveTags(d).each do |t| %>
                <span class="tag"><%= t %></span>
              <% end %>
            </span>
          </td>
          <td class="center">
            <%= d.created_at.to_formatted_s(:short_ordinal) %>
          </td>
          <td>
            <label>
              <span>
                <!-- Create a hidden span to allow sorting by checkbox status -->
                <span class="sortcol hidden" id="cb-<%= d.id %>"><%= d.published ? "1" : "2" %></span>  
                <input class="publish-checkbox" data-datasetid="<%= d.id %>" id="x-<%= d.id %>"
                       type="checkbox" <%= d.published ? raw('checked="yes"') : "" %> >Publish
              </span>
            </label>
          </td>

          <!-- Hidden span allows sorting by availability -->
          <td nowrap class="center">
            <span class="hidden" style="display: none;"><%= d.alive ? "1" : "2" %></span> 
            <% if d.alive %>
              <span class="status-AVAILABLE">Available</span>
            <% else %>
              <span class="status-UNAVAILABLE">Unavailable</span>
            <% end %>
          </td>
          <td nowrap>
            <%= d.dataserver.title %>
          </td>
        </tr>
      <% end%>
    </tbody>
  </table>


  <%= render :partial => 'shared/layer_info_popups.html.erb', locals: { fullControls: true } %>


  <%= button_to "Register New Datasets", 
            { :controller => "datasets", :action => "mass_import", :id => 1 }, 
            :class => "register-datasets-button-bottom" %>

  &nbsp;&nbsp;

  <br />
</div>

<div class="infotable" id="infotable-layer-unavailable">
  <h1 class="dataset-title">Layer Availabilty</h1>
  <div>
    Data layers are generally hosted on remote servers.  From time to time, the remote server might
    be unavailable, the owners might change the name of a data layer, or they could remove it
    altogether.  We periodically check these servers to see if data is still available. If it is
    not, we report the layer as being unavaialable.  It may be that the data will return in the
    future, or it may be permanently gone.  Since we have no connection with the owners of these
    remote servers, we have no way to know why data has become unavailable.
  </div>
</div>



<script type="text/javascript">
 $(document).ready(function() {
    $('#sortable_table').tablesorter();               // Initialize sorter


    // Handle unregistering a dataset
    $(".dataset-deleted").bind("ajax:success",
             function(evt, data, status, xhr) {
                  // Data contains the dataset_id
                  $('#dsid-' + data).remove();                              // Remove the table row from main window
                  $('#infotable-' + data).find(".close").trigger('click');  // Simulate click on the close button to get fade effect
     }).bind("ajax:error", function(evt, data, status, xhr) {
              //do something with the error here
              alert("Could not unregister dataset.");
     });

    $('div[rel]').overlay();  // Activate availability status overlays

  });
</script>


<%= render :partial => 'tag_functions.html.erb' %> 

<script type="text/javascript">

  activateOverlays();


  $('.publish-checkbox').click(function() { publishDataset(this); });


  var publishDataset = function(ctrl) {
    var datasetId = ctrl.getAttribute('data-datasetid');
    var checked   = ctrl.checked;

    // Set sort column contents to checkboxes will sort properly
    var el = $("#cb-" + datasetId);
    el.html(checked ? "1" : "2");

    el.parents("table").trigger("update"); 


    // Notify the server
    $.ajax({
      type:    'PUT',      // PUT combined with url below triggers "update" action on controller
      url:     '<%= url_for(:controller => 'datasets', :action => 'publish') %>',
      data:    'dataset[id]=' + datasetId +
               '&checked='    + checked,
      headers: { 'X-CSRF-Token': '<%= form_authenticity_token.to_s %>' },
      success: function() { /* Do nothing */ },
      error:   function(data, status, error) { 
                  jsonErrorHandler(data, status, error, "Could not publish dataset!");
            }
    });
  };


  addDeleteTagClickHander(true);    // Get ready to delete tags!
  addDeleteTagClickHander(false);   // Get ready to delete tags!

  // Make sure table is sorted -- sort on the first column
  var sorting = [[1,0], [0,0]]; 

  $('#sortable_table').trigger("update"); 
  $('#sortable_table').trigger("sorton",[sorting]); 


  $(document).bind('ajax:success', function(xhr, data, status) { 
    $('#dataset-id-' + data).hide();
  });


  $(function() {
    var theTable = $('#sortable_table')

    theTable.find("tbody > tr").find("td:eq(1)").mousedown(function(){
      $(this).prev().find(":checkbox").click()
    });

    $("#filter").keyup(function() {
      $.uiTableFilter( theTable, this.value );
    })

    $('#filter-form').submit(function(){
      theTable.find("tbody > tr:visible > td:eq(1)").mousedown();
      return false;
    }).focus(); //Give focus to input field
  });
</script>


