
<script type="text/javascript">
 $(document).ready(function() {
    onLocationChanged('<%= @current_city.name %>');   // Build the initial dataset list
    // $('#sortable_table').tablesorter();               // Initialize sorter
  });
</script>



<!-- TODO: Make this a partial -->
<script type="text/javascript">
  // Make the railsIdLookup, which looks up a unique id for each  URL / identifier pair.
  // Allows us to have shorter class names and avoid illegal characters in a class which might exist in a URL.
  railsIdLookup = { };

  <%= @datasets.reject{ |d| d.finalized == false }
               .uniq{ |x| x.server_url + x.identifier }
               .map{ |d| "railsIdLookup[makeKey('" + d.server_url + "','" + d.identifier + "')] = '" + d.id.to_s + "';\n" }
               .join(' ') %>
</script>


<%# Include some map related utility functions; these need to be processed by Rails so they have to be in a partial %>
<%= render :partial => '/shared/map_utils.html.erb' %>


<script type="text/javascript">

  var onLocationChanged = function(cityName) {
    MapUtils.retrieveDatasetsForCity(cityName, function(data) { 
                                                    renderTable(data); 
                                                    hideUnregisterAndFriends(); });
  }


  // Generate html for Registered Datasets table row
  // Note: status-xxx below are classes that are common to all datasets on a server
  //       status2-xxx are classes that are common only to server-identifier pairs (i.e. duplicate datasets)
  var renderTableRow = function(dataset, railsId) {
    return '<tr id="dataset-id-' + dataset.id + '" onmouseover="$(this).find(\'.invisible-cell\').show();"' +
                                                  'onmouseout ="$(this).find(\'.invisible-cell\').hide();">' +
      '<td class="dataset-name-' + serverUrlIdLookup[dataset.server_url] + '">' +
        '<span class="dataset-name2-' + railsId + '">Retrieving...</span>' +
        '<img src="/assets/small_question_mark.gif" class="info-icon" ' +
                  'alt="More info" title="Click for details" rel="#infotable-' + railsId + '">' +
      '</td>' +
      '<td nowrap>' + (dataset.dataset_type == "" ? "Unknown" : dataset.dataset_type) + '</td>' +
      '<td width=145><div class="status-' + serverUrlIdLookup[dataset.server_url] + 
        ' status2-' + railsId + '">Probing server...  ' +
        '<img src="/assets/loading_spinner.gif"></div></td>' +
      '<td class="invisible-cell"><a href="/datasets/' + dataset.id + '" ' + 
        'data-confirm="Are you sure you want to unregister this dataset?" data-method="delete" ' +
        'data-remote="true" rel="nofollow">Unregister</a></td> ' + 
      // '<td>SHOW MODULE LIST HERE??</td>' +
    '</tr>';
  }



  // Create the popup info table for this dataset
  var renderInfoTable = function(dataset, railsId) {
    var serverUrlId = serverUrlIdLookup[dataset.server_url];

    return '<div class="infotable" id="infotable-' + railsId + '">' +
              '<div class="close"></div>' +
              '<h1><span class="dataset-name2-' + railsId + '"></h1>' +
              '<div class="dataset-descr-' + railsId + '"></div>' +
              '<div style="overflow:hidden"><dl>' +
                '<dt>Server Name:</dt><dd class="server-name-' + serverUrlId + '"></dd>' +
                 '<dt>Data Services:</dt><dd id="results-' + railsId + '">Waiting for response from server...</dd>' + 
                 
              '</dl></div>' +
              '<div style="overflow:hidden" class="technical-details">' +
                '<div class="section-header">Technical Details</div><dl>' +
                '<dt>Server Base URL:</dt><dd>' + dataset.server_url + '</dd>' +
                '<dt>Dataset Identifier:</dt><dd>' + dataset.identifier + '</dd>' +
                '<dt>All Get Capabilities Links:</dt><dd>' +
                    '<a href="' + WFS.getCapUrl(dataset.server_url) + '" target="_blank">WFS</a> ' +
                    '<a href="' + WMS.getCapUrl(dataset.server_url) + '" target="_blank">WMS</a> ' +
                    '<a href="' + WCS.getCapUrl(dataset.server_url) + '" target="_blank">WCS</a>' +
                '</dd>' +
                '<dt>Projections Available:</dt><dd>' + '' + '</dd>' + 
                '<dt>Bounding Box:</dt><dd>' + '' + '</dd>' + 
                '<dt>Attribute Columns:</dt><dd>' + '' + '</dd>' + 
              '</dl></div>' +
              '<div><a href="#" class="show-details"></a></div>' +
           '</div>';
  }


  $(document).bind('ajax:success', function(xhr, data, status) { 
    $('#dataset-id-' + data).hide();
  });


  // The following creates a mapping of server urls to short unique tokens, in both ruby and javascript.
  <% serverUrlIdLookup = { } %>
  <% @datasets.reject{ |d| d.finalized == false }
              .map{ |d| serverUrlIdLookup[d.server_url] = d.id.to_s } %>

  serverUrlIdLookup = { };
  <% lines = "" %>
  <% serverUrlIdLookup.each{ |u, i| lines += "serverUrlIdLookup['" + u + "'] = '" + i + "'; " } %>
  <%= raw lines %>

</script>




<script type="text/javascript">
  $(function() {
    var theTable = $('#sortable_table')

    theTable.find("tbody > tr").find("td:eq(1)").mousedown(function(){
      $(this).prev().find(":checkbox").click()
    });

    $("#filter").keyup(function() {
      $.uiTableFilter( theTable, this.value );
    })

    $('#filter-form').submit(function(){
      theTable.find("tbody > tr:visible > td:eq(1)").mousedown();
      return false;
    }).focus(); //Give focus to input field
  });
</script>


<script type="text/javascript">
  <% index = 0 %>
  var layerRecords    = { };
  var layerStores     = { };
  var serverDatasets  = { };
  var serverResponses = { };

  var processedUrls   = [ ];


  var processUrl = function(url)
  {
    // This function will be called for every dataset registered with the current city.  Many will have the same
    // server.  Avoid processing the same server twice.
    // Called from renderTable(), which is called from onCityChange() event handler
    if(processedUrls.hasObject(url)) {  /*setLayerStatus(url);*/ return;  }

    processedUrls.push(url);

    serverResponses[url] = [ ];    

    // Create an association between a server and all registered datasets it hosts
    <% @server_urls.each do |url| %>    <%# These could be wms, wfs, or wcs addresses %>
      serverDatasets['<%= url.gsub(/\\/, '\\\\\\') %>'] = [<%= @datasets.reject {|d| d.server_url != url}
                                                                      .map{|d| "'" + d.identifier + "'"}
                                                                      .join(', ') %>];
    <% end %>

    WMS.updateLayerList(url, onGetCapabilitiesSucceeded, onGetCapabilitiesFailed);
    WFS.updateLayerList(url, onGetCapabilitiesSucceeded, onGetCapabilitiesFailed);
    WCS.updateLayerList(url, onGetCapabilitiesSucceeded, onGetCapabilitiesFailed);
  }




  function updateLayerInfo(serverUrl, dataset, available, name, descr, services) {
    var railsId = railsIdLookup[makeKey(serverUrl, dataset)];

    $('.dataset-name2-' + railsId).html(name);    // Appears in the name column, also on infotable popup
    $('.dataset-descr-' + railsId).html(descr);
    $('#results-'       + railsId).html('');      // Clear

    var url = '';
    // Parse services... provide links for whatever services
    for (var i = 0; i < services.length; i++) {
      if(services[i] == 'WMS') {
        url = WMS.getCapUrl(serverUrl);
      }
      else if(services[i] == 'WFS') {
        url = WFS.getCapUrl(serverUrl);
      }
      else if(services[i] == 'WCS') {
        url = WCS.getCapUrl(serverUrl);
      }
      $('#results-' + railsId).append('<a href="' + url + '" target="_blank">' + services[i] + '</a>&nbsp;');
    }

    if(url != '') {
      $('#results-' + railsId).append('&nbsp;(Right-click, Copy Link Location)');
    }


    if(available) {
      $('.status2-' + railsId).html(
        '<img class="status-indicator" src="/assets/layer_available_yes.png" alt="Layer available">');
    } else {
      $('.status2-' + railsId).html('<img class="status-indicator" src="/assets/layer_available_no.png" alt="Layer not available">');
    }
  }


</script>


<div>
  <h1 class="page_header">Registered Datasets</h1>

  <form id="filter-form">Filter: <input name="filter" id="filter" value="" maxlength="30" size="30" type="text"></form>

  <div class="hint">Hint: Filter table by typing in the box above; sort by clicking on column headers; use Ctrl to sort by multiple columns</div>

  <table id="sortable_table" class="zebra sortable">
    <thead>
      <tr><th>Name</th><th>Type</th><th>Status</th><!-- <th>Configured Modules Using Dataset</th> --></tr>
    </thead>

    <tbody id="dataset-list"></tbody>  <!-- Will be populated later -->
  </table>

  <div id="infotables"><!-- Placeholder for popup infotables --></div>


  <%= button_to "Register Datasets", :controller => 'datasets', :action => 'mass_import', :id => 1 %>

  <br />
</div>


