
<h1>Register Datasets</h1>

<div id="error-list" class="explanation-problem" style="display: none"></div>

<div class="explanation">
  <p>iGUESS uses datasets stored on remote servers.  To register datasets with the system, enter a server URL in the box below.
  iGUESS will probe the remote server and present you a list of datasets you can register.  In order to use a dataset with
  a module, you will need to tag it with the appropriate tags.  If you want to use the dataset for mapping
  purposes, use the Mapping tag.</p>

  <p>iGUESS will probe for WFS, WCS, and WMS servers at the URL provided below.  Layers offered by the WMS will be available for mapping,
  and layers offered by the WFS/WCS will be available for using as inputs to web processes.</p>
</div>


<div class="url-form">
  <table class="url-form">
      <tr>
      <td>
        <input id="server_url" type="text" name="format" value="" placeholder="Enter data-server URL or select a preset"/>
        <button type="button" id="load_services">Load</button>
      </td>
    </tr><tr>
      <td>
        <select id="url-preset-select"  style="width: 100%">
          <option value="">Select a preset</option>
          <%= raw @current_city.dataserver_url.map { |m| '<option value="' + m.url + '">' + m.url + '</option>' }.join(" ") %>
        </select>
      </td>
    </tr><tr>
    <td colspan=2>
      <a href="#" id="save-preset" onclick="return false;">Save As Preset</a>
      <a href="#" id="delete-preset" onclick="return false;">Delete From Presets</a>
    </td>
    </tr>
  </table>
</div>


<div class="services-display">

  <div class="progress-container">
    <span class="probing" id="probing-wms">Probing WMS server...<span class="loading_indicator"></span></span>
    <span class="probing" id="probing-wfs">Probing WFS server...<span class="loading_indicator"></span></span>
    <span class="probing" id="probing-wcs">Probing WCS server...<span class="loading_indicator"></span></span>
  </div>

  <div class="server-info">
    <div class="server-name" id="server-name"></div>
    <div class="server-descr" id="server-descr"></div>

    <div id="results-display"><!-- Search results will be shown here --></div>
  </div>


  <div class="infotable" id="infotable-unavailable-for-mapping">
    <h1><span class="dataset-title">Available For Mapping</span></h1>
      <div>We do all our mapping using <%= @google_projection %>, which is compatible with Google Maps and OpenStreetMap, 
      used as a background in the map window.  If a dataset is available in this projection, we can display it on our maps.</div>
      <br>
    <h1><span class="dataset-title">Available For Processing</span></h1>
    <div>Each city defines a projection that will be used for all calculations.  For <%= @current_city.name %>, that is <%= @current_city.srs %>.
      If a dataset is available in this projection, we can use it in the computation modules.</div>
  </div>


<%= render :partial => 'tag_functions.html.erb' %>

<script>

  // Add "js" style to body -- makes fancy checkboxes work
  $('body').attr("class",$('body').attr("class") + " js");

  GOOGLE_SRS = '<%= @google_projection %>';

  registeredDataLayers = {};


  var makeRegisteredLayer = function(serverUrl, datasetIdentifier, datasetId, tags, configCount) 
  {

    if(registeredDataLayers[serverUrl] === undefined)
      registeredDataLayers[serverUrl] = {};

    registeredDataLayers[serverUrl][datasetIdentifier] = {
      serverUrl:   serverUrl,
      identifier:  datasetIdentifier,
      id:          datasetId,
      tags:        tags,
      configCount: configCount
    };
  };


  // Populate registeredDataLayers with data from the database
  <%= raw @datasets.reject{ |d| d.finalized == false }.
                map{ |d| "makeRegisteredLayer('" + d.server_url.gsub(/\\/, '\\\\\\') + "'," + 
                                             "'" + d.identifier + "'," + 
                                                   d.id.to_s() + "," + 
                                                   "[" + d.dataset_tags.reject{ |m| !m.tag }  # Prevent crash from blank tags
                                                                       .map{ |m| "'" + m.tag + "'" }.join(",") + "]," +
                                                   d.mod_configs.count.to_s() + ");\n"
                    }.
                join(' ') %>  


  LOCAL_SRS = '<%= @current_city.srs %>';


  var getLayerNameFromCheckboxId = function(id)
  {
  	return id.substring('registered_'.length);	// Remove 'registered_' from the front of the string
  };


  // Called when we've gotten whatever response we're going to get from the server in question
  // i.e. when a WFS response arrives.  More responses might be coming (from WMS, and WCS, for example).
  var doneProcessing = function(url, type, serverInfo) 
  {
    if(type == "WFS") {
      $("#probing-wfs").hide();
      wfsProcessingComplete++;
    }
    else if(type == "WMS") {
      $("#probing-wms").hide();
      wmsProcessingComplete++;
    }
    else if(type == "WCS") {
      $("#probing-wcs").hide();
      wcsProcessingComplete++;
    }
    else { alert("Unknown service type " + type); }

    displayServerDetails(serverInfo, type);   // Display this as it comes in

    // Make sure we've heard from all services before continuing
    if(wfsProcessingComplete != 1 || wmsProcessingComplete != 1 || wcsProcessingComplete != 2)  
      return; 

    $(".progress-container").hide();
    displayServices();
  };


  var wfsProcessingComplete = 0;
  var wmsProcessingComplete = 0;
  var wcsProcessingComplete = 0;  


  var resetServiceLoadedStatus = function() {
    wfsProcessingComplete = 0;
    wmsProcessingComplete = 0;
    wcsProcessingComplete = 0;
  };


  // var datasetSort = function(d1, d2)
  // {
  //   if(d1.identifier == d2.identifier) return 0;
  //   if(d1.identifier < d2.identifier)  return 1;
  //   return -1;
  // }


  // Make sure to sanitize datasetIdentifier to remove all the crap that MapGuide puts in!
  var sanitizeId = function(str)
  {
    if(typeof(str) === "string")
      return str.replace(/\//g, "X");
    else
      return str;
  };


  var displayServices = function() 
  {
    var mapId = 0;
    var first = true;

    var layerCount = Object.keys(discoveredLayers).length;

    // If no layers were loaded, show an intelligble error message and bail
    if(layerCount == 0) {
      $("#results-display").html('<div class="error-header">Please check the number and dial again</div>' +
                                 '<div class="error-body">No data layers could be found on the specified server.<br>' +
                                 'Either the URL is not that of a WMS/WFS/WCS data server, or the server is not responding.' +
                                 '</div>');

      $(".server-info").show();

      return;
    }

    // We have layers!!!

    $("#results-display").html("");   // Clear the decks

    // These refer to the layers that have been discovered on the remote servers
    var discoveredLayerKeys = Object.keys(discoveredLayers).sort();
    // discoveredLayers.sort(datasetSort);


    // Render found datasets in two passes -- first for registered items, second for unregistered ones.
    // This puts registered items at the top of the screen.
    for(var pass = 0; pass < 2; pass++)
    {
      for(var lyrctr = 0, len = discoveredLayerKeys.length; lyrctr < len; lyrctr++)
      {
        var urlId = discoveredLayerKeys[lyrctr];
        var layer = discoveredLayers[urlId];      

        if(registeredDataLayers[layer.serverUrl] == undefined) {
          // No already-registered layers for this url.. Put something here so the following lines won't crash.
          registeredDataLayers[layer.serverUrl] = {};
        }

        var regLyr     = registeredDataLayers[layer.serverUrl][layer.identifier];
        var registered = registeredDataLayers[layer.serverUrl] && regLyr;  

        if((pass == 0 && !registered) || (pass == 1 && registered)) { continue; }

        if(first) {
          $("#results-display").html("<div>Server has <span id='results-display-count'></span> layers.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +
                                     "<span class='proj-list'>SRS required for processing: <span>" + LOCAL_SRS + "</span></span>; " +
                                     "<span class='proj-list'>SRS required for mapping: <span>" + GOOGLE_SRS + ".</span></span></div><ul id='layer-table'></ul>");
          first = false;
        }

        var mapDivId = "map" + mapId++;

        var availableInLocalProjection  = false;
        var availableInGoogleProjection = false;

        if(layer.srs !== null) {
          availableInLocalProjection  = CRS.hasCRS(layer.wxsCrs,     LOCAL_SRS);
          availableInGoogleProjection = CRS.hasCRS(layer.wmsCrsList, GOOGLE_SRS);
        }

      
        var registerControl = $(document.createElement('input'));

        registerControl.attr({ type:    "checkbox", 
                               name:    "registered_" + layer.identifier, 
                               class:   "switchbox",
                               id:      "registered_" + layer.identifier, 
                               value:   "registered", 
                               checked: registered 
                             });


        var titleNode = $(document.createElement('div'));
        titleNode.html("<span class='dataset_title' id='dataset-title-" + sanitizeId(layer.identifier) + "'>" + (layer.title != "" ? layer.title : layer.identifier) + "</span>" + 
                       "<span class='dataset-identifier'>Identifier: <span>" + layer.identifier + "</span>");


        var servicesAvailNode = $(document.createElement('div'));
        servicesAvailNode.attr({ class:'dataset_services_available' });
        servicesAvailNode.text("Services: " + layer.type.join(', ') );

        if(regLyr) {  
          servicesAvailNode.append('<br>Used in ' + regLyr.configCount + ' configurations');
        }

        var abstractNode = "";

        if(layer.abstract) {
          abstractNode = $(document.createElement('div'));
          abstractNode.attr({ class:'dataset_abstract', id:'dataset-abstract-' + sanitizeId(layer.identifier)});
          abstractNode.html(linkify(layer.abstract));
        }

        var srsNode = $(document.createElement('div'));
        srsNode.attr({ class:'dataset_srs' });

        var code = '<div style="cursor:pointer" rel="#infotable-unavailable-for-mapping">' +
                   '<span class="proj-background">available for mapping</span><span class="' + 
                              (availableInGoogleProjection ? 'yes-background' : 'no-background') + '">' + 
                              (availableInGoogleProjection ? 'yes'            : 'no')            + '</span>' +
                    '</div>' +

                    '<div style="cursor:pointer" rel="#infotable-unavailable-for-mapping">' +
                    '<span class="proj-background">available for processing</span><span class="' + 
                              (availableInLocalProjection  ? 'yes-background' : 'no-background') + '">' + 
                              (availableInLocalProjection  ? 'yes'            : 'no')            + '</span>' +
                    '</div>' +
                    '<br><br><br>';

        srsNode.append(code);


        var data_info = $(document.createElement('div'));
        var tagPickerControlId = getTagPickerControlId(layer.identifier);

        data_info.attr({ class:'data-info' });

        data_info.append(srsNode)
                 .append(registerControl)
                 .append(servicesAvailNode)
                 .append('<div class="tag-control"><span class="taglist-deletable-' + urlId + ' taglist"' + (regLyr ? "" : " disabled='disabled'") + '>' +  
                          (regLyr && regLyr.tags.length > 0 ?  createTagList(regLyr.tags, true, 
                                                                        layer.serverUrl, layer.identifier) : "No tags" ) +
                         '</span>' + 
                         makeTagPickerControl(layer, tagPickerControlId, registered) + '</div>');

        var sample_map = $(document.createElement("div"));
        sample_map.attr({ id:mapDivId, class:"sample-map" });   // Map will be rendered based on div's id


        var container = $(document.createElement("div"));
        container.attr({ class:"dataset" });
        container.append(titleNode)
                 .append(abstractNode)
                 .append(data_info)
                 .append(sample_map);


        var crsInfo = "<div>";
        if(layer.wmsCrsList.length > 0)
          crsInfo += "<div class='proj-list'>Mapping Projections: <span>"    + 
            (typeof(layer.wmsCrsList) === "string" ? layer.wmsCrsList : layer.wmsCrsList.join('; ')) + "</div>";

        if(layer.wxsCrs)
          crsInfo += "<div class='proj-list'>Processing Projections: <span>" + layer.wxsCrs + "</div>";

        crsInfo += "</div>";

        container.append(crsInfo);

        // li_element (map-data-item)
        //    container (registered_dataset or unregistered_dataset)
        //       data_info
        //       sample_map


        var li_element = $(document.createElement("li"));
        li_element.attr({ class:"map-data-item " + (registered ? "registered_dataset" : "unregistered_dataset") });
        li_element.append(container);

        $("#layer-table").append(li_element);


        var bbox_left, bbox_bottom, bbox_right, bbox_top;
        var activeSRS = null;

        if(layer.wmsCrs && layer.wmsbbox && layer.wmsbbox.left)
        {
          bbox_left   = layer.wmsbbox.left;
          bbox_bottom = layer.wmsbbox.bottom;
          bbox_right  = layer.wmsbbox.right;
          bbox_top    = layer.wmsbbox.top;

          activeSRS   = layer.wmsCrs;
        }
        else if(layer.wmsCrs && layer.wmsbbox && layer.wmsbbox.bbox)   
        {
          bbox_left   = layer.wmsbbox.bbox[0];
          bbox_bottom = layer.wmsbbox.bbox[1];
          bbox_right  = layer.wmsbbox.bbox[2];
          bbox_top    = layer.wmsbbox.bbox[3];

          activeSRS   = layer.wmsCrs;
        }
        else if(layer.wmsCrs && layer.wmsbbox && layer.wmsbbox.length == 4)
        {
          bbox_left   = layer.wmsbbox[0];
          bbox_bottom = layer.wmsbbox[1];
          bbox_right  = layer.wmsbbox[2];
          bbox_top    = layer.wmsbbox[3];

          activeSRS   = layer.wmsCrs;
        }
        // See if we can do this in lat/long -- this is very hacky
        else if(layer.llbbox && layer.llbbox.length == 4) 
        {
          bbox_left   = layer.llbbox[0];
          bbox_bottom = layer.llbbox[1];
          bbox_right  = layer.llbbox[2];
          bbox_top    = layer.llbbox[3];

          activeSRS   = 'EPSG:4326';
        }

        if(activeSRS == null) {
          $('#' + mapDivId).html('<div class="center"><br><u>Map unavailable</u></div>');

          if(!alreadyShownWmsError) {
            var err = '<div>We cannot display sample maps for some datasets on this server.  ' +
                      'The most likely cause of this problem is that the server\'s WMS functionality is not properly configured: ' +
                      'either a WMS service has not been defined for a particular identifier, or I cannot get a usable bounding box ' +
                      'for the layers you have requested.<P><P>You can see how the server responds to WMS queries by clicking here: ' + 
                      '<a href="'+ WMS.getCapReq(layer.serverUrl) + '" target="_blank">WMS GetCapabilities</a></div>';

            $('#error-list').append(err).slideDown(500);

            alreadyShownWmsError = true;    // Only show error message once, to avoid flooding the error display
            }
        }
        else {
          var bounds = new OpenLayers.Bounds(bbox_left, bbox_bottom, bbox_right, bbox_top);  //minx miny maxx maxy

          var miniMap = new OpenLayers.Map({
                  maxExtent:  bounds,
                  projection: new OpenLayers.Projection(activeSRS),
                  controls: [ new OpenLayers.Control.NavToolbar({zoomWheelEnabled: true}) ]
          });

          var lyr = new OpenLayers.Layer.WMS(
                  layer.title,
                  getServerUrl(),
                  { layers:  layer.identifier,
                    format:  "image/gif" 
                  }
          );

          miniMap.addLayer(lyr);
          miniMap.zoomToMaxExtent();
          miniMap.render(mapDivId);    // Renders to <div id="map#">
        }
        
        // Now that the tag picker has finally been added to the dom, we can populate it
        // Note that if there is no wxsbbox, we don't want the Area of Interest tag, so use the WCS tags instead of the WFS ones.
        // This is kind of hacky, but seems to work.
        if(layer.type.hasObject('WCS') || (layer.type.hasObject('WFS') && getCoord(layer, "left") === "")) {
          makeDropdown(tagPickerControlId, WCSTagList);
        }
        else if(layer.type.hasObject('WFS')) {
          makeDropdown(tagPickerControlId, WFSTagList);
        }

        else
          makeDropdown(tagPickerControlId, WMSTagList);
      }  // end for loop
    }  // for pass = 0 to 2


    addDeleteTagClickHander();
    $('div[rel]').overlay();  // Activate availability status overlays



    $("#results-display-count").text(discoveredLayerKeys.length);    // Update layer display


    // Add toggle switch after each checkbox.  If checked, then toggle the switch.
    $(".switchbox").after(function() {
       if($(this).is(":checked")) {
         return "<a href='#' class='toggle checked' ref='"+$(this).attr("id")+"'></a>";
       } else {
         return "<a href='#' class='toggle' ref='"+$(this).attr("id")+"'></a>";
       }
    });


    // This gets called when the ajax request to the server returns with a success message
    var registerDataset = function(data, serverUrl, datasetIdentifier, checkbox, tagPickerControl, item)
    {
        $(".taglist-deletable-" + urlId).attr("disabled", false);

        // Add layer to the list of registered layers
        makeRegisteredLayer(serverUrl, data.dataset.identifier, data.dataset.id, data.tags, 0);
        updateTags(serverUrl, data.dataset.identifier, data.tags);

        onDatasetRegisteredOrUnregistered(item, checkbox, tagPickerControl, true);
    }


    var unregisterDataset = function(serverUrl, datasetIdentifier, checkbox, tagPickerControl, item)
    {
      // Remove layer from the list of registered layers
      delete registeredDataLayers[serverUrl][datasetIdentifier];

      var urlId = cssEscape(serverUrl + datasetIdentifier);

      $(".taglist-deletable-" + urlId + " .tag")              .attr("disabled", true);
      $(".taglist-deletable-" + urlId + " .tag-delete-button").attr("disabled", true);
      $(".taglist-deletable-" + urlId + " .tag-delete-button").off("click");   // Disable clicking
      $(".taglist-deletable-" + urlId).attr("disabled", true);

      onDatasetRegisteredOrUnregistered(item, checkbox, tagPickerControl, false);
    }


    // Common code to run when we regiester or unregister a dataset
    var onDatasetRegisteredOrUnregistered = function(item, checkbox, tagPickerControl, registering)
    {
      item.toggleClass("checked");
      item.parent().parent().parent().toggleClass("registered_dataset");
      item.parent().parent().parent().toggleClass("unregistered_dataset");

      checkbox.checked = registering;
      tagPickerControl.disabled = !registering;
    }


    // When the toggle switch is clicked, check off / de-select the associated checkbox
    // Want to find this when we search for "registered_"
    $(".toggle").click(function(e) 
    {
      var checkboxID = $(this).attr("ref");

      var checkbox = document.getElementById(checkboxID);
      var datasetIdentifier = getLayerNameFromCheckboxId(checkboxID);

      var tagPickerControl = document.getElementById(getTagPickerControlId(datasetIdentifier));
      var serverUrl = getServerUrl();

      var dataLayer = registeredDataLayers[serverUrl][datasetIdentifier];

      // When unregistering a data layer that is used in a configuration, show a warning
      if(dataLayer && dataLayer.configCount > 0) {
        var ct = dataLayer.configCount || 0;
        var c =  (ct == 1) ? "configuration" : "configurations";
        var t =  (ct == 1) ? "this"          : "these";
        var th = (ct == 1) ? "it"            : "them";

        if(!confirm("This dataset is in use by " + ct + " " + c + ". " +
                    "Unregistering it will cause it to be removed from " + t + " " + c + ".\n\n" +
                    "Click OK if you are sure you want to unregister this dataset.")) {
          e.preventDefault();
          return;
        }
      }

      var urlId = cssEscape(serverUrl + datasetIdentifier);

      var thiiis = $(this);

      if(checkbox.checked) {
        // ===== Unregistering dataset =====

        // Let the server know this layer is no longer registered -- to do this we delete the corresponding
        // record in the datasets table.
        $.ajax({
          type: "DELETE",      // DELETE combined with url below triggers "destroy_by_params" action on controller
          url: '<%= url_for(:controller => 'datasets', :action => 'destroy_by_params') %>',
          data: "dataset[identifier]="  + datasetIdentifier +
                "&dataset[server_url]=" + serverUrl,

          headers: { "X-CSRF-Token": "<%= form_authenticity_token.to_s %>" },
          // http://api.jquery.com/jQuery.ajax/
          success: function(data, status, jqXHR)  { unregisterDataset(serverUrl, datasetIdentifier, checkbox, tagPickerControl, thiiis); },
          error:   function(jqXHR, status, error) { alert('Cound not unregister dataset! (server returned status "' + error.trim() + '")'); }
        });

      } else {
        // ===== Register dataset =====

        var layer    = discoveredLayers[urlId];
        var taglist  = extractTagList(serverUrl, datasetIdentifier);
        var title    = $("#dataset-title-"    + sanitizeId(datasetIdentifier)).text();
        var abstract = $("#dataset-abstract-" + sanitizeId(datasetIdentifier)).text();


        var service  = "";
        if(     layer.type.hasObject("WFS")) { service = "WFS"; }
        else if(layer.type.hasObject("WCS")) { service = "WCS"; }
        else if(layer.type.hasObject("WMS")) { service = "WMS"; }

        // Let the server know this layer is now registered -- to do this we must create a new record in
        // our datasets table.

        $.ajax({
          type: "POST",      // POST combined with url below triggers "create" action on controller
          url: "<%= url_for(:controller => "datasets", :action => "create", :format=>:json) %>",
          data: "dataset[identifier]="       + datasetIdentifier +
                "&dataset[service]="         + service +
                "&dataset[server_url]="      + serverUrl +
                "&server_title="             + getServerTitle() +
                "&server_abstract="          + getServerAbstract() +
                "&tags="                     + taglist +
                "&dataset[title]="           + encodeURIComponent(title) +
                "&dataset[abstract]="        + encodeURIComponent(abstract) +
                "&dataset[bbox_left]="       + getCoord(layer, "left") +
                "&dataset[bbox_right]="      + getCoord(layer, "right") +
                "&dataset[bbox_top]="        + getCoord(layer, "top") +
                "&dataset[bbox_bottom]="     + getCoord(layer, "bottom") +
                "&dataset[resolution_x]="    + (layer.resolution ? Math.abs(layer.resolution.x) : 0) +
                "&dataset[resolution_y]="    + (layer.resolution ? Math.abs(layer.resolution.y) : 0) +
                "&dataset[format]="          + (layer.format ? layer.format : "")+
                "&dataset[local_srs]="       + (CRS.hasCRS(layer.wxsCrs, LOCAL_SRS) ? "true" : "false") +
                "&dataset[city_id]=<%= raw @current_city.id %>" +
                "&dataset[alive]=true"       +
                "&cityName=<%= raw @current_city.id %>",
          headers: { "X-CSRF-Token": "<%= form_authenticity_token.to_s %>" },
          success: function(data, status, jqXHR)  { registerDataset(data, serverUrl, datasetIdentifier, checkbox, tagPickerControl, thiiis); },
          error:   function(jqXHR, status, error) { alert('Cound not register dataset! (server returned status "' + error.trim() + '")'); }
        });
      }

      e.preventDefault();

    });  // end toggle state change handler

    
    // Because of our unusual layout, we need to manually adjust things to get equal tile sizes... lame!
    equalizeRowHeights();
    $('#layer-table').equalWidths();
  };


  var getCoord = function(layer, which)
  {
    if(layer.wxsbbox)
      return doGetCoord(layer.wxsbbox, which);

    if(layer.wmsbbox)
      return doGetCoord(layer.wmsbbox, which);

    return "";
  };


  // Helper for above
  // Handles both types of bounding boxes... either a simple array, or a dictionary with left/right/top/bottom keys
  var doGetCoord = function(obj, which) 
  {
    if(obj[which])
      return obj[which];

    if(which == "left")
      return obj[0];
    if(which == "right")
      return obj[2];
    if(which == "top")
      return obj[3];
    if(which == "bottom")
      return obj[1];
  };


  var WMSTagList = '<% getAliveTags("WMS").each do |t| %><option value="<%= t %>"><%= t %></option><% end %>';
  var WFSTagList = '<% getAliveTags("WFS").each do |t| %><option value="<%= t %>"><%= t %></option><% end %>';
  var WCSTagList = '<% getAliveTags("WCS").each do |t| %><option value="<%= t %>"><%= t %></option><% end %>';


  var makeDropdown = function(controlId, tagList) {
    $('#' + controlId).append(tagList);
  }


  var getTagPickerControlId = function(datasetIdentifier)
  {
    return 'data-type-' + sanitizeId(datasetIdentifier);
  }


   // If readyToPoulate is false, we can pass in anything for layer as long as it has an identifier property
  var makeTagPickerControl = function(layer, controlId, enabled)
  {
    return '<select style="float:right" class="add-tag-dropdown-control" ' + 
           'data-serverurl="' + layer.serverUrl + '" ' +   // These keys seem to get lowercased anyway... so no upper case letter pls!
           'data-datasetidentifier="' + layer.identifier + '" ' +
           'id="' + controlId + '" ' + (enabled ? '' : 'disabled="true" ') +
           'onchange="tagPickerChanged($(this));">' +
             '<option value = "Ignore This">Add Tag:</option>' + 
           '</select>';
  }


  var extractTagList = function(serverUrl, datasetIdentifier) 
  {
    var urlId = cssEscape(serverUrl + datasetIdentifier);

    var tags = [];


    $('.taglist-deletable-' + urlId).children().each(function() {
        tags.push($(this).text());
    });

    return tags;
  };


  // Check response and see if it looks like it is good and requires further parsing
  var isGoodResponse = function(service, response, capabilities)
  {
    var code = response.status;   // Standard http response code herein
    if(code < 200 || code > 299)
      return false;

    // If a service does not exist, this next condition should be triggered
    if(response.responseXML.documentElement.tagName == "ows:ExceptionReport")
      return false;

    // Sometimes ESRI software send us data about the wrong service... these responses are invalid
    if(capabilities.requestType.substring(0, 3) != service)
      return false;

    return true;
  };


  // Class declaration -- maintain same public interface as ServiceProbe on register WPS server page
  // :::constructor:::
  var ServiceProbe = function(serverUrl) 
  {   
    this.serverUrl = serverUrl;
    var self       = this;    // Stored pointer to ourselves, will be needed in the callback
  

    // :::public:::
    this.startProbing = function() 
    { 
      WFS.getCapabilities(self.serverUrl,  self.onWfsGetCapabilitiesSucceeded);
      WCS.getCapabilities(self.serverUrl,  self.onWcsGetCapabilitiesSucceeded);   // Launches both GetCapabilities and DescribeCoverage requests
      WMS.getCapabilities(self.serverUrl,  self.onWmsGetCapabilitiesSucceeded);
    };

    // :::private:::
    // TODO: If capabilities is undefined, there was a problem somewhere... it should be logged
    this.onWfsGetCapabilitiesSucceeded = function(capabilities, response) {
      if(capabilities && isGoodResponse("WFS", response, capabilities))
        processIncomingWFSLayers(capabilities, self.serverUrl);
      else    // Error:
        doneProcessing(self.serverUrl, "WFS", null);
    };

    this.onWmsGetCapabilitiesSucceeded = function(capabilities, response) {
      if(capabilities && isGoodResponse("WMS", response, capabilities))
        processIncomingWMSLayers(capabilities, self.serverUrl);
      else    // Error:
        doneProcessing(self.serverUrl, "WMS", null);
    };

    this.onWcsGetCapabilitiesSucceeded = function(capabilities, response) {
      if(capabilities && isGoodResponse("WCS", response, capabilities))
        processIncomingWCSLayers(capabilities, self.serverUrl);
      else    // Error:
        doneProcessing(self.serverUrl, "WCS", null) ; 
    };
  }


  // Save current value of text box to database
  var savePreset = function()
  {
    var url = getServerUrl();
    $.ajax({
      type: 'POST',      // POST combined with url below triggers "create" action on controller
      url: '<%= url_for(:controller => 'dataserver_url', :action => 'create', :format=>:json) %>',
      data: 'city[id]=' + <%= @current_city.id %> +
            '&url=' + url,
      headers: { 'X-CSRF-Token': '<%= form_authenticity_token.to_s %>' /*,
                 'Content-Type': 'application/json' */},
      success: function(data) { 
        $('#url-preset-select').append('<option value="' + url + '">' + url + '</option>');
        updateButtonVisibility();
      }
    });
  };


  // Delete current value of text box to database
  var deletePreset = function()
  {
    if(!confirm('Do really want to permanently delete this preset?'))
      return;

    var url = getServerUrl();
    $.ajax({
      type: 'DELETE',      // DELETE combined with url below triggers "destroy" action on controller
      url: '<%= url_for(:controller => 'dataserver_url', :action => 'destroy', :format=>:json) %>',
      data: 'city[id]=' + <%= @current_city.id %> +
            '&url=' + url,
      headers: { 'X-CSRF-Token': '<%= form_authenticity_token.to_s %>' /*,
                 'Content-Type': 'application/json' */},
      success: function(data) { 
        $('#url-preset-select option[value="' + url + '"]').remove();   // Delete the option
        $('#server_url').val('');                                       // Clear the input box
        updateButtonVisibility();
      },
      failure: function(data) { alert("Cound not delete preset!" + data); }
    });
  };


  var hideProbingIndicators = function() 
  {
    $("#probing-wms").hide();
    $("#probing-wfs").hide();
    $("#probing-wcs").hide();
    $(".progress-container").hide();
  };


  var showProbingIndicators = function() 
  {
    $("#probing-wfs").show();
    $("#probing-wms").show();
    $("#probing-wcs").show();

    $(".progress-container").show();
  };



  var getServerTitle = function()
  {
    return $("#server-name").text();
  }


  var getServerAbstract = function()
  {
    return $("#server-descr").text();
  }


  $().ready(function(){
    onLoadServicesPageReady();
  });



  // Adapted from http://css-tricks.com/equal-height-blocks-in-rows/
  var currentTallest = 0,
      currentRowStart = 0,
      rowDivs = new Array();

  var setConformingHeight = function(el, newHeight) {
     // set the height to something new, but remember the original height in case things change
     el.data("originalHeight", (el.data("originalHeight") == undefined) ? (el.height()) : (el.data("originalHeight")));
     el.height(newHeight);
  }

  var getOriginalHeight = function(el) {
     // if the height has changed, send the originalHeight
     return (el.data("originalHeight") == undefined) ? (el.height()) : (el.data("originalHeight"));
  }

  var equalizeRowHeights = function() {

     // Find the tallest LI in the row, and set the heights of all of the LIs to match it
     $('li.map-data-item').each(function() {
        // "caching"
        var $el = $(this);
        
        var topPosition = $el.position().top;

        if (currentRowStart != topPosition) {

           // We just came to a new row.  Set all the heights on the completed row.
           for(currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) setConformingHeight(rowDivs[currentDiv], currentTallest);

           // Set the variables for the new row
           rowDivs.length = 0; // empty the array
           currentRowStart = topPosition;
           currentTallest = getOriginalHeight($el);
           rowDivs.push($el);

        } else {

           // Another div on the current row.  Add it to the list and check if it's taller.
           rowDivs.push($el);
           currentTallest = (currentTallest < getOriginalHeight($el)) ? (getOriginalHeight($el)) : (currentTallest);

        }
        // Do the last row
        for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) setConformingHeight(rowDivs[currentDiv], currentTallest);

     });

  }

  // Recalc heights if window size changes
  $(window).resize(function() {
     equalizeRowHeights();
  });


  // Basic dataset object -- this is what we track for datasets seen on remote server
  // Used for discoveredLayers
  var Dataset = function(serverUrl, service, datasetInfo) 
  {
    this.serverUrl = serverUrl;
    this.type      = [service];

    this.identifier  = null;
    this.name        = null;
    this.title       = null;
    this["abstract"] = null;    // abstract is a js reserved word!
    this.format      = null;
    this.wmsCrs      = null;
    this.wmsCrsList  = [];
    this.wxsCrs      = null;
    this.wmsbbox     = null;
    this.wxsbbox     = null;
    this.llbbox      = null;
    this.resolution  = null;

    if(!datasetInfo) 
      return


    this.identifier  = datasetInfo.name  || datasetInfo.identifier;
    this.title       = datasetInfo.title || this.identifier;
    this["abstract"] = datasetInfo.abstract;    // abstract is a js reserved word!

    if(service == "WMS") {
      var localCrs = CRS.getSimpleFormat(LOCAL_SRS);

      // datasetInfo.srs[xxx] == true  ==> if this exists, the we can use localCrs
      this.wmsCrs  = datasetInfo.srs[localCrs]  && localCrs;

      for(var key in datasetInfo.srs)
        this.wmsCrsList.push(key);

      this.wmsbbox = datasetInfo.bbox[localCrs] && datasetInfo.bbox[localCrs].bbox;
      this.llbbox  = datasetInfo.llbbox;
    }

    if(service == "WCS") {
      if(datasetInfo.supportedFormats.hasObject("image/img"))
        this.format = "image/img";
      else if(datasetInfo.supportedFormats.hasObject("image/tiff"))
        this.format = "image/tiff";
      else
        this.format = datasetInfo.supportedFormats[0];

      try {
        this.resolution = datasetInfo.domain.spatialDomain.gridCRS.gridOffsets;
        console.log("found: ", datasetInfo);
      }
      catch(error) {
        console.log("no found: ", datasetInfo);
        // Do nothing
      }
    }

    if(service == "WFS" || service == "WCS") {
      this.wxsCrs  = datasetInfo.srs || (datasetInfo.supportedCRS  && datasetInfo.supportedCRS[0]) ||
                                        (datasetInfo.supportedCRSs && datasetInfo.supportedCRSs[0]);

      if(datasetInfo.latLongBoundingBox)
        this.wxsbbox = datasetInfo.latLongBoundingBox;  
      else if(datasetInfo.domain && datasetInfo.domain.spatialDomain && 
              datasetInfo.domain.spatialDomain.boundingBoxes && datasetInfo.domain.spatialDomain.boundingBoxes[this.wxsCrs])
        this.wxsbbox = datasetInfo.domain.spatialDomain.boundingBoxes[this.wxsCrs];
    }
  };


  // Gets run on any layer found, registered or not; dataset is a Dataset object
  // Merges dataset into the already created layer record, if it exists
  var mergeDatasetIntoLayerList = function(dataset, service)
  {
    var key = cssEscape(dataset.serverUrl + dataset.identifier);   // Need a single key to make iteration elsewhere easier

    var layer = discoveredLayers[key];

    if(layer) {   // Already found this layer, add service to it

      if(layer.type.hasObject(service)) {    // Will happen if duplicate identifiers are used on the server.  Should never happen.
        return;
      }

      layer.type.push(service);

      if(service == "WFS" || service == "WCS") {
        layer.wxsCrs     = dataset.wxsCrs;
        layer.wxsbbox    = dataset.wxsbbox;
       
        if(service == "WCS") {
          layer.format = dataset.format;

          if(dataset.resolution)
            layer.resolution = dataset.resolution;
        }
      }
      else if(service == "WMS")
      {
        layer.wmsCrs      = dataset.wmsCrs;
        layer.wmsCrsList  = dataset.wmsCrsList
        layer.wmsbbox     = dataset.wmsbbox;
        layer.llbbox      = dataset.llbbox;
        layer.title       = dataset.title;         // Title and abstract from WMS supercede those from other services
        layer["abstract"] = dataset["abstract"];
      }
      else
        alert("Unknown service " + service + " encountered!");
    }
    else {    // It's a new layer, add it to discoveredLayers wholesale
      discoveredLayers[key] = dataset;
    }


    if(service == "WCS")
        {
          console.log("inside merge: ", discoveredLayers[key].resolution);
        }
  };


  var wcsReplies = {};


  // Tracks data about a server that we might want to display on the page
  var ServerInfo = function(title, abstract)
  {
    this.title = title;
    this.abstract = abstract;
  }


  var processIncomingWMSLayers = function(capabilities, serverUrl)
  {
    for(var i = 0, len = capabilities.capability.layers.length; i < len; i++)
    {
      var dataset = new Dataset(serverUrl, "WMS", capabilities.capability.layers[i]);

      mergeDatasetIntoLayerList(dataset, "WMS");
    }

    var serverInfo = new ServerInfo(capabilities.service.title, capabilities.service["abstract"]);
    doneProcessing(serverUrl, "WMS", serverInfo, "OK");
  };


  var processIncomingWFSLayers = function(capabilities, serverUrl)
  {
    for(var i = 0, len = capabilities.featureTypeList.featureTypes.length; i < len; i++)
    {
      var dataset = new Dataset(serverUrl, "WFS", capabilities.featureTypeList.featureTypes[i]);

      mergeDatasetIntoLayerList(dataset, "WFS");
    }

    var serverInfo = new ServerInfo(capabilities.service.title, capabilities.service["abstract"]);
    doneProcessing(serverUrl, "WFS", serverInfo, "OK");
  };


  // capabilities could contain responses from either GetCapabilities or DescribeCoverage
  var processIncomingWCSLayers = function(capabilities, serverUrl)
  {

    // WCSDescribeCoverage requests return a dictionary rather than an array... blech
    if(capabilities.requestType == "WCSDescribeCoverage") {
      var coverageKeys = capabilities.coverageDescriptionKeys;

      for(var i = 0, len = coverageKeys.length; i < len; i++) {
        var dataset = new Dataset(serverUrl, "WCS", capabilities.coverageDescriptions[coverageKeys[i]]);
        mergeDatasetIntoLayerList(dataset, "WCS");
      }
    }

    else {   // WCSGetCapabilities
      var coverageList = capabilities.contentMetadata;

      for(var i = 0, len = coverageList.length; i < len; i++) {
        var dataset = new Dataset(serverUrl, "WCS", coverageList[i]);
        mergeDatasetIntoLayerList(dataset, "WCS");
      }
    }


    // This is more complex than above because both GetCapabilities and DescribeCoverage requests end up here
    var abstrct = (capabilities.service && capabilities.service["abstract"]) ||
                  (capabilities.serviceIdentification && capabilities.serviceIdentification["abstract"]);

    var title = (capabilities.service && capabilities.service.title) || 
                (capabilities.serviceIdentification && capabilities.serviceIdentification.title);

    var serverInfo = new ServerInfo(title, abstrct);
    doneProcessing(serverUrl, "WCS", serverInfo, "OK");
  };  

</script>

