<%# Include some map related utility functions; these need to be processed by Rails so they have to be in a partial %>

<script>

    var MapUtils = MapUtils || { };   // Create namespace

    MapUtils.retrieveDatasetsForCity = function(cityId, successFunction) {
    var serverUrl = '<%= url_for(:controller => "datasets", :action => "get_for_city", :format => :json) %>';
    $.ajax({
        type: 'POST',
        url: serverUrl,
        data: 'cityId=' + getCityCookie(),
        headers: { 'X-CSRF-Token': '<%= form_authenticity_token.to_s %>' },
        success: successFunction,
        error: function() { alert('Error retrieving datasets for city.'); }
      });
    }

    // We've got a new batch of datasets to display!
    // Note that for the status div, all rows from the same server share the same class.  Each has a unique id.
    var addLayersToMap = function(datasets)
    {
    	WebGIS.clearLayers(false);
        for (var i = 0, len = datasets.length; i < len; i++)
        {
        	if(datasets[i].dataset_tags[0] == null)
        		tag = "Untagged";
        	else tag = datasets[i].dataset_tags[0].tag;
            WebGIS.addNewLayer(datasets[i].title || datasets[i].identifier, 
                              datasets[i].server_url, 
                              datasets[i].identifier, 
                              null,
                              tag,
                              datasets[i].id);
            $('div[ext\\:tree-node-id="dsid-' + datasets[i].id + '"]')
                .append('<img src="/assets/small_gear.png" class="info-icon" \
                         alt="More info" title="Click for details" rel="#infotable-' + datasets[i].id + '">');
        }

        // Activate the gear popup menus
        $('img[rel=]').overlay(); 
        $('img[rel]').click(function(){ hideDetails(); });
    };

    // This gets run when user changes city dropdown
    var onLocationChanged = function(cityId)
    {
        WebGIS.clearLayers(false);

        // Retrieve all datasets for specified city
        MapUtils.retrieveDatasetsForCity(cityId, function(data){ addLayersToMap(data); });

        // Notify WebGIS that things have changed
        <% for city in City.all %>
            if(cityId == "<%= city.id %>")
            {
                var point = new OpenLayers.LonLat(<%= city.mapx %>, <%= city.mapy %>);
                WebGIS.leftMap.setCenter(point, <%= city.zoom %>);

                $('.all-layers').hide();
                $('.layer-for-city-<%= city.id %>').show();

                return;
            }
        <% end %>
    };

    Ext.onReady(function() {
        WebGIS.CreatePanels();
        //WebGIS.CreatePanelsParallel();
    });

</script>

<script type="text/javascript">
    $(function() {
        var theTable = $('#sortable_table')

        theTable.find("tbody > tr").find("td:eq(1)").mousedown(function() {
            $(this).prev().find(":checkbox").click()
        });

        $("#filter").keyup(function() {
            $.uiTableFilter(theTable, this.value);
        })

        $('#filter-form').submit(function() {
            theTable.find("tbody > tr:visible > td:eq(1)").mousedown();
            return false;
        }).focus();
        //Give focus to input field
    }); 
</script>

<script type="text/javascript">
    $(document).bind('ajax:success', function(xhr, data, status) {
        $('#dataset-id-' + data).hide();
    });

</script>

<script type="text/javascript">
    $(function() {
        var theTable = $('#sortable_table')

        theTable.find("tbody > tr").find("td:eq(1)").mousedown(function() {
            $(this).prev().find(":checkbox").click()
        });

        $("#filter").keyup(function() {
            $.uiTableFilter(theTable, this.value);
        })

        $('#filter-form').submit(function() {
            theTable.find("tbody > tr:visible > td:eq(1)").mousedown();
            return false;
        }).focus();
        //Give focus to input field
    }); 
</script>

<div id="BroadMap">
    <!-- Map goes here -->
    <div id="leftMap"></div>
    <div id="rightMap"></div>
</div>

<div id="winDivIdentify"></div>

<!------------ DSS windows ------------>

<div title="divSelectId" id="divSelectId" class="x-hidden" style="padding:10px">
    Use the form below to select a layer to apply the Potential Application tool.
    <br>
    <br>
    Select an attribute for each of the parameters of the tool: <b>Cost</b>, <b>Cumulative Inventment</b>, <b>Cumulative Energy</b> and <b>Cumulative Area</b>.
</div>

<div title="divWindowId" id="divWindowId" class="x-hidden" style="padding:10px">
    <p>
        Move the sliders to see in the map where the installation is most efficient.
        The buildings with lower electricity costs for a 20 years lifetime are ranked first.
    </p>
    <p>
        This is still a prototype.
    </p>
    <br>
    <br>
    <b id="cost">Cost: 0.000 &euro;/kWh</b>
    <div id="slider-cost"></div>
    <br>
    <br>
    <b id="invest">Investment: 0 k&euro;</sup></b>
    <div id="slider-investment"></div>
    <br>
    <br>
    <b id="gen">Energy Generation/Savings: 0 MWh/a</b>
    <div id="slider-generation"></div>
    <br>
    <br>
    <b id="area">Area: 0 m<sup>2</b>
    <div id="slider-area"></div>
    <br>
    <br>
</div>



 <div id="infotables">
    <!-- Create the popups that are displayed when the user clicks the gear icon -->
    <% @datasets.each do |d| %>
      <div class="infotable" id="infotable-<%= d.id %>">
        <div class="close"></div>
        <h1 class="dataset-title"><%= d.title.present? ? d.title : d.identifier %></h1>
        <div class = "dataset-abstract"><%= d.abstract %></div> 
        <div style="overflow:hidden">
          <dl>
            <dt>Server Name:</dt><dd class="server-name"><%= d.dataserver.title %></dd>
            <dt>Data Services:</dt>
            <dd id="results-<%= d.id %>">
              <%= insertGetCapabilitiesLinkBlock(d.dataserver.url, d.dataserver.wms, d.service == "WFS", d.service == "WCS") %>
            </dd>

              <% if not d.alive %>
                <dt class="error-header">Error State:</dt>
                <dd class="error-body">
                  This layer is no longer available -- the data owner may have renamed or removed it.  Sorry!
                  <br><br>
                  <%= link_to "Unregister Dataset", d, confirm: "Are you sure you want to unregister this dataset?", 
                           method: :delete, :remote => true, :class => "dataset-deleted" %>
                </dd>
              <% end %>

            <dt>Tags:</dt>
            <dd>
              <span class="taglist-deletable-<%= cssEscape(d.dataserver.url + d.identifier) %>">
                <% getAliveTags(d).each do |t| %>
                  <span class="tag">
                    <span class="tag-delete-button" data-url="<%= d.dataserver.url %>" data-identifier="<%= d.identifier %>"></span>
                    <%= t %>
                  </span>
                <% end %>
              </span>
              
              <select style="float:right" class="add-tag-dropdown-control" 
                data-serverurl="<%= d.dataserver.url %>"
                data-datasetidentifier="<%= d.identifier %>" 
                onchange="tagPickerChanged($(this));"> 

                <option value = "Ignore This">Add Tag:</option>

                <% getAllTags(d).each do |t| %>
                  <option value="<%= t %>"><%= t %></option>
                <% end %>
                
              </select>
            </dd>
            <dt>Configurations:</td>
            <dd>
              <% if d.mod_configs.size > 0 %>
                <% d.mod_configs.each do |m| %><%= m.name %> <% end %>
              <% else %>
                Not used in any configurations
              <% end %>
            </dd>
            <dt>Actions:</dt>
            <dd>
              <% if d.mod_configs.size == 0 then 
                    msg = "Are you sure you want to unregister this dataset?"
                 else
                    t = d.mod_configs.size == 1 ? "that" : "those"
                    c = d.mod_configs.size == 1 ? "configuration" : "configurations"

                    msg = "This dataset is in use by " + d.mod_configs.size.to_s + " " + c + ".\n" +
                          "Unregistering it will cause it to be removed from " + t + " " + c + ".\n" + 
                          "Click OK if you are sure you want to unregister this dataset." 
                 end %>

              <%= link_to "Unregister Dataset", d, confirm: raw(msg), 
                           method: :delete, :remote => true, :class => "dataset-deleted" %>
            </dd>
          </dl>
        </div>
        <div style="overflow:hidden" class="technical-details">
          <div class="technical-details-header">Technical Details</div>
          <dl>
            <dt>Server Base URL:</dt><dd><%= d.server_url %></dd>
            <dt>Dataset Identifier:</dt><dd><%= d.identifier %></dd>
            <dt>All Get Capabilities Links:</dt><dd>
              <%= insertGetCapabilitiesLinkBlock(d.dataserver.url, :true, :true, :true) %>
            </dd>
            <dt>Projections Available:</dt><dd></dd> 
            <dt>Bounding Box:</dt><dd></dd>
            <dt>Attribute Columns:</dt><dd></dd>
          </dl>
        </div>
        <div>
          <!-- return false; prevents underlying page from scrolling when -->
          <a href="#" class="show-details" onclick="return false;">Technical details >>></a>
        </div>    
      </div>
    <% end %>
  </div>




<script type="text/javascript">
 $(document).ready(function() {
    // $('#sortable_table').tablesorter();               // Initialize sorter


    // // Handle unregistering a dataset
    // $(".dataset-deleted").bind("ajax:success",
    //          function(evt, data, status, xhr) {
    //               // Data contains the dataset_id
    //               $('#dsid-' + data).remove();                              // Remove the table row from main window
    //               $('#infotable-' + data).find(".close").trigger('click');  // Simulate click on the close button to get fade effect
    //  }).bind("ajax:error", function(evt, data, status, xhr) {
    //           //do something with the error here
    //           alert("Could not unregister dataset.");
    //  });

    $('div[rel]').overlay();  // Activate availability status overlays
  });
</script>


<!-- <%#= render :partial => 'tag_functions.html.erb' %>  -->

<script type="text/javascript">

  // $('a.popup[rel]').overlay();                         // Activate popups for managing dataset tags 
  // $('img[rel]').overlay();                             // Set up the layer info overlays
  // $('img[rel]').click(function(){ hideDetails(); });   // Close details panel on open

  // $('.publish-checkbox').click(function() { publishDataset(this); });


  var showDetails = function() {
    $('.technical-details').show(); 

    var el = $('.show-details');

    el.unbind("click");
    el.click(function(){ hideDetails(); });
    el.html('<<< Hide details');
  };


  var hideDetails = function() {
    $('.technical-details').hide();

    var el = $('.show-details');

    el.unbind("click");
    el.click(function(){ showDetails(); });
    el.html('Technical details >>>');
  };


  // var publishDataset = function(ctrl) {
  //   var datasetId = ctrl.getAttribute('data-datasetid');
  //   var checked   = ctrl.checked;

  //   // Set sort column contents to checkboxes will sort properly
  //   var el = $("#cb-" + datasetId);
  //   el.html(checked ? "1" : "2");

  //   el.parents("table").trigger("update"); 


  //   // Notify the server
  //   $.ajax({
  //     type:    'PUT',      // PUT combined with url below triggers "update" action on controller
  //     url:     '<%= url_for(:controller => 'datasets', :action => 'publish') %>',
  //     data:    'dataset[id]=' + datasetId +
  //              '&checked='    + checked,
  //     headers: { 'X-CSRF-Token': '<%= form_authenticity_token.to_s %>' /*,
  //                'Content-Type': 'application/json' */},
  //     success: function(data) {  }
  //   });
  // };


  // addDeleteTagClickHander();    // Get ready to delete tags!

  // Make sure table is sorted
  // var sorting = [[1,0], [0,0]]; 
  // // sort on the first column 

  // $('#sortable_table').trigger("update"); 
  // $('#sortable_table').trigger("sorton",[sorting]); 


  // $(document).bind('ajax:success', function(xhr, data, status) { 
  //   $('#dataset-id-' + data).hide();
  // });


  // $(function() {
  //   var theTable = $('#sortable_table')

  //   theTable.find("tbody > tr").find("td:eq(1)").mousedown(function(){
  //     $(this).prev().find(":checkbox").click()
  //   });

  //   $("#filter").keyup(function() {
  //     $.uiTableFilter( theTable, this.value );
  //   })

  //   $('#filter-form').submit(function(){
  //     theTable.find("tbody > tr:visible > td:eq(1)").mousedown();
  //     return false;
  //   }).focus(); //Give focus to input field
  // });
</script>

