<p class="notice"><%= notice %></p>

<h1 class="page_header">Dataset: <%= @dataset.name %></h1>
<div class="page_subheader">
</div>

<% showMap = (not @dataset.url.nil?) and (not @dataset.layer_name.nil?) %>

<% if showMap %>
  <script type="text/javascript">
      var map;
      $(document).ready(function() {

        // var bounds = new OpenLayers.Bounds(<%= @dataset.minx %>, <%= @dataset.miny %>,
                                           // <%= @dataset.maxx %>, <%= @dataset.maxy %>);
//
        // map = new OpenLayers.Map("map", {
                // maxExtent: bounds,
                // projection: new OpenLayers.Projection("<%= @dataset.city.srs %>")
        // });
//
        // var layer = new OpenLayers.Layer.WMS(
                  // "<%= @dataset.name %>",
                  // "<%= @dataset.url %>",
                  // {layers: "<%= @dataset.layer_name %>",
                   // format: "image/gif",
                   // srsName: "<%= @dataset.city.srs %>",
                   // srs: "<%= @dataset.city.srs %>"}
              // );



        var bounds = new OpenLayers.Bounds(3513000,5417000,3513800,5417600);  // getMapCapabilities

        map = new OpenLayers.Map("map", {
          maxExtent: bounds,
          projection: new OpenLayers.Projection("EPSG:31467")
        });

        var layer = new OpenLayers.Layer.WMS(
                  "Buildings",
                  "http://logis.ludwigsburg.de/mapguide2011/mapagent/mapagent.fcgi",
                  {layers: "Ludwigsburg/3_Layer/Gebaeude_gr_50m2",
                   format: "image/gif",
                   srsName: "EPSG:31467",
                   srs: "EPSG:31467"}/*,
                  {isBaseLayer: false}*/
              );

        map.addLayer(layer);
        map.zoomToMaxExtent();
      });
  </script>

<% end %>



<div style="float:right;">
  <div id="map" class="smallmap" style="width: 300px; height:200px; border:1px solid black;"></div>
</div>


<div class="dataset_body">
  <% if !@dataset.parameter_type.nil?%>
    <p>
      <b>Data Type:</b> <%= @dataset.parameter_type.dataset_type.value %>
    </p>
  <% end %>

  <p>
    <b>Description:</b> <%= @dataset.description %>
  </p>

  <% if @dataset.module_requirements.nil? %>
    <b>This module has no requirements.</b>
  <% else %>
    <p>
      <b>Modules using <%= @dataset.name %>:</b>
      <%= render :partial => 'config_list', :locals => { :dataset => @dataset, :configs => @configs } %>
    </p>

    <% if not @dataset.parameter_type.nil? %>
      <% if not @dataset.parameter_type.mods.empty? %>
        <p>
          <b>Modules that require <%= @dataset.parameter_type.name %>:</b>
          <% if not @dataset.module_configurations.empty? %>
            <%= render :partial => 'show_mod_list', :locals => { :dataset => @dataset } %>
          <% else %>
            No modules use this data type
          <% end %>
        </p>
      <% end %>

      <p>
        <b>Templates requiring <%= @dataset.parameter_type.name %>:</b>
        <% if not @dataset.parameter_type.mods.empty? %>
          <%= render :partial => 'template_list', :locals => { :dataset => @dataset } %>
        <% else %>
          No templates use this data type
        <% end %>
      </p>
    <% end %>
  <% end %>

  <div style="border:1px solid black; padding-left: 1em;">
    <h2>Technical:</h2>
    <p>
      <b>Server URL:</b> <% if @dataset.url.nil? %>None specified<% else %><%= @dataset.url %><% end %>
    </p>

    <!-- Only show more information if the above was provided -->
    <% if not @dataset.url.nil? %>
      <p>
        <b>Layer Name:</b>
          <% if @dataset.layer_name.nil? %>
            None specified
          <% else %>
            <%= @dataset.layer_name %>
          <% end %>
      </p>
      <% if not @dataset.layer_name.nil? %>
        <p>
          <b>Layer Bounds:</b>
          <% if @dataset.minx.nil? or @dataset.minx.nil? or @dataset.minx.nil? or @dataset.minx.nil?%>
            Missing or invalid bounds
          <% else %>
            <%= @dataset.minx %>, <%= @dataset.miny %>, <%= @dataset.maxx %>, <%= @dataset.maxy %>
            <% end %>
        </p>

        <p>
          <b>Projection:</b>
          <% if @dataset.city.srs.nil? %>
            None specified
          <% else %>
            <%= @dataset.city.srs %>
          <% end %>
        </p>

      <% end %>
    <% end %>
  </div>

</div>
<%= link_to "Edit", edit_dataset_path(@dataset) %> |
<%= link_to "Data Inventory", datasets_path %>


