<h1>User Details</h1>

<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :label => "Email Address", :required => true, :autofocus => true %>
    <%= f.input :username, :required => true %>

    <%= f.input :first_name, :required => true %>
    <%= f.input :last_name, :required => true %>

  </div>

  <div class="form-actions">
    <label>&nbsp;</label>
    <%= f.button :submit, "Approve", :class => "linkbutton" %>
    
<% end %>

&nbsp;&nbsp;
 <%= button_to "Reject", { :action => "reject", :controller => "users", :id => @user.id}, 
                           :remote => true, :id => "reject-user-button", :class => "linkbutton", 
                            form: { :id => "reject-user-form", "data-type" => "json" }  %>

  </div>