   <!--<div class="headline" id="headline1">
      understand your options...
   </div>
   <div class="headline" id="headline2">
      plan your future.
   </div>  -->

   <p id="headline-spacer"></p>

  <div id="front-page-tabs">
      <div class="tabs">
         <ul class="dosomething">
         	<li><a href="#">Welcome</a></li>
            <li><a href="#">Data Management</a></li>
            <li><a href="#">Renewables Calculator</a></li>
            <li><a href="#">Energy Scenarios</a></li>
            <li><a href="#">Urban Energy Maps</a></li>
         </ul>
      </div>

      <!-- tab "panes" -->
      <div class="panes">
      	<div class="front-page-tab-body" id="Welcome-introduction">
           <h1> Welcome to the Smart City Energy platform</h1>
            
            <p class="intro"> Smart City Energy supports cities in the development of innovative strategies and opportunities for sustainable energies transitions.
				</p>
            
            
            <div id="slider1_container">
    <!-- Slides Container -->
    		<div u="slides" >
        			<div><%= image_tag "04_energy_savings_residential.png" %></div>
        			<div><%= image_tag "03_energy_demand_residential.png" %></div>
        			<div><%= image_tag "01_heat_demand_geothermal.png" %></div>
        			<div><%= image_tag "06_urban_heat_island.png" %></div>
    		</div>
		</div>
			   <p class="intro"> 
				The Smart City Energy platform is based on the flexible framework iGUESS, to integrate energy as a layer into urban planning. 
				Smart City Energy enables cities to explore potentials for renewable energy, energy savings,
				green roofs, and identifies risks regarding urban heat islands and energy poverty.
				Smart City Energy allows to develop and test measures for Sustainable Energy Action Plans to assess CO<sub>2</sub> 
				emissions over time and identify opportunities for energy exchange within a city.
				</p>
				

				<p class="intro"> 
            Enjoy the exploration of a new framework for sustainable urban areas within Europe!</p>
            </div>
            
         
         <div class="front-page-tab-body" id="data_management">
            <h1>View your data or register new datasets</h1>                       
            <p class="intro">If you are a registered user, in the Data Manager you can see a list of all registered datasets for every city. </p>
            <div class="inner-content">
            	<p><%= link_to "See my datasets", :controller => 'datasets'%> &nbsp;&nbsp;&nbsp;&nbsp;
            		<%= link_to image_tag("datamanager.png", :class => "datamanager"), :action => 'index', :controller => 'datasets' %>
            	</p>            	
            </div>
            <br>
            <p class="intro">The list contains both datasets registered from remote servers, managed by the city experts,
            	 or datasets created by renewable energy calculations, after configuring and running modules in the Modules catalog. </p>
            <p class="intro">You can also register new datasets using a data server URL. </p>                 
            <div class="inner-content">
               <p><%= link_to "Register new data", :controller => 'datasets', :action => 'mass_import', :id => 1 %>&nbsp;&nbsp;&nbsp;&nbsp;
               	<%= link_to image_tag("register_dataset.png", :class => "datamanager"), :action => 'mass_import/1', :controller => 'datasets' %>
               </p>  
            </div>
         </div>
         <div class="front-page-tab-body" id="renewable">
            <h1>Configure and run a calculation module</h1>
            <p class="intro">The module catalog shows the calculations that iGUESS can perform, for solar, geothermal, urban heat islands, fuel poverty and energy savings potentials.
            iGUESS runs calculations as WPS processes. </p>
            <div class="inner-content">
               <p><%= link_to "View module catalog", :controller => 'mod_configs', :anchor => 'module_catalog_tab'%>&nbsp;&nbsp;&nbsp;&nbsp;
               		<%= link_to image_tag("module_catalog.png", :class => "datamanager"), :anchor=> 'module_catalog_tab', :controller => 'mod_configs' %>
               	
               </p><br>
            </div>
            <p class="intro">After a description of module's input requirements and output results, you can configure a module, 
            	and this configuration will be added to the Configured Modules list. When you run calculations defined by a module configuration, the outputs will be added to the Data Manager list. 
            Moreover, in the configured Modules list you can also see which modules are being run at your city.</p>	
            <div class="inner-content">
               <p><%= link_to "See Configured modules", :controller => 'mod_configs'%>&nbsp;&nbsp;&nbsp;&nbsp;
               	<%= link_to image_tag("mod_configs.png", :class => "datamanager"), :controller => 'mod_configs' %>
               	
               </p>
            </div>
         </div>
         <div class="front-page-tab-body" id="scenario">
            <h1>Develop Sustainable Energy Action Plans</h1>
            <p class="intro">In the Scenario page you can set up and calculate future Energy Production,
            	 Energy Consumption and greenhouse gases emissions for every sector, using baseline data.</p>
            <div class="inner-content">
               <p><%= link_to "Develop Scenarios", :controller => 'co2_scenarios'%></p>
               <br>
               <div class="welcomeimage">
               <%= link_to image_tag("scenario.png", :class => "style_welcomeimage"), :controller => 'co2_scenarios' %>
               </div>
            </div>            
         </div>
         <div class="front-page-tab-body" id="maps">
            <h1>Visualize maps of the registered datasets</h1>
            <p class="intro">iGUESS can show you any registered dataset on an interactive map of your city.</p>
            <p class="intro">You can visualize and overlay energy planning layers with full web-gis capabilities.</p>
            <div class="inner-content">
               <p><%= link_to "Explore maps of my city", :controller => 'maps'%></p>            
            <br>
            <div class="welcomeimage">
            	<%= link_to image_tag("energy_savings.png", :class => "style_welcomeimage"), :controller => 'maps' %>
            </div>
            </div>
         </div>
      </div>
</div>

<div class="clear"></div>

<script type="text/javascript">  // Activate the tabs with jquerytools>tabs
  // perform JavaScript after the document is scriptable.
  $(function() {
      // setup ul.tabs to work as tabs for each div directly under div.panes
      $("ul.dosomething").tabs("div.panes > div");
  });
</script>

<script>
    jQuery(document).ready(function ($) {
        var options = { $AutoPlay: true };
        var jssor_slider1 = new $JssorSlider$('slider1_container', options);
    });
</script>

