   <!--<div class="headline" id="headline1">
      understand your options...
   </div>
   <div class="headline" id="headline2">
      plan your future.
   </div>  -->

   <p id="headline-spacer"></p>

  <div id="front-page-tabs">
      <div class="tabs">
         <ul class="dosomething">
         	<li><a href="#">Welcome</a></li>
            <li><a href="#">Data Management</a></li>
            <li><a href="#">Renewables Calculator</a></li>
            <li><a href="#">Energy Scenarios</a></li>
            <li><a href="#">Urban Energy Maps</a></li>
         </ul>
      </div>

      <!-- tab "panes" -->
      <div class="panes">
      	<div class="front-page-tab-body" id="Welcome-introduction">
            Welcome to the Smart City Energy platform
            <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 600px; height: 300px;">
    <!-- Slides Container -->
    		<div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 60px; top: 0px; width: 600px; height: 300px;">
        			<div><%= image_tag "04_energy_savings_residential.png" %></div>
        			<div><%= image_tag "03_energy_demand_residential.png" %></div>
        			<div><%= image_tag "01_heat_demand_geothermal.png" %></div>
        			<div><%= image_tag "06_urban_heat_island.png" %></div>
    		</div>
		</div>
		
               <p class="intro"> Within the project “Mitigation in Urban
				areas: Solutions for Innovative Cities”
				(MUSIC), five cities in North West Europe
				cooperate and exchange knowledge on
				how to implement an energy transition in
				their own city: Aberdeen, Ghent,
				Ludwigsburg, Montreuil and Rotterdam. 
				The integrated Geospatial Urban Energy Information and Support System framework (iGUESS)
				allows to integrate energy as a layer in urban planning. With this platform cities are able to 
				compute renewable energy and energy savings potential maps, urban heat island maps, 
				energy poverty maps and visualise CO2 emissions over time to identify opportunities 
				for energy exchange and monitor the effects of energy saving measures in their city.</p>
            </div>
         
         <div class="front-page-tab-body" id="data_management">
            View your data or register new datasets <br>                       
            <p class="intro">If you are a registered user, in the Data Manager you can see a list of all registered datasets for every city. </p>
            <div class="inner-content">
            	<p><%= link_to "See my datasets", :controller => 'datasets'%> &nbsp;
            		<%= link_to image_tag("datamanager.png", :class => "datamanager"), :action => 'index', :controller => 'datasets' %>
            	</p>            	
            </div>
            <br>
            <p class="intro">The list contains both datasets registered from remote servers, managed by the city experts,
            	 or datasets created by renewable energy calculations, after configuring and running modules in the Modules catalog. </p>
            <p class="intro">You can also register new datasets using a data server URL. </p>                 
            <div class="inner-content">
               <p><%= link_to "Register new data", :controller => 'datasets', :action => 'mass_import', :id => 1 %>&nbsp;
               	<%= link_to image_tag("register_dataset.png", :class => "datamanager"), :action => 'mass_import/1', :controller => 'datasets' %>
               </p>  
            </div>
         </div>
         <div class="front-page-tab-body" id="renewable">
            Configure and run a calculation module<br>
            <p class="intro">The module catalog shows the calculations that iGUESS can perform.</p>
            <p class="intro">Iguess runs calculations as WPS processes. </p>
            <div class="inner-content">
               <p><%= link_to "View module catalog", :controller => 'mod_configs', :anchor => 'module_catalog_tab'%>
               		<%= link_to image_tag("module_catalog.png", :class => "datamanager"), :anchor=> 'module_catalog_tab', :controller => 'mod_configs' %>
               	
               </p><br>
            </div>
            <p class="intro">After a description of module's input requirements and output results, you can configure a module, 
            	and this configuration will be added to the Configured Modules list. When you run calculations defined by a module configuration, and the outputs will be added to the Data Manager list. </p>
            <p class="intro">Moreover, in the configured Modules list you can also see which modules are being run at your city.</p>	
            <div class="inner-content">
               <p><%= link_to "See Configured modules", :controller => 'mod_configs'%>
               	<%= link_to image_tag("mod_configs.png", :class => "datamanager"), :controller => 'mod_configs' %>
               	
               </p>
            </div>
         </div>
         <div class="front-page-tab-body" id="scenario">
            Configure and run a Scenario 
            <p class="intro">In the Scenario page you can set up and calculate future Energy Production,
            	 Energy Consumption and greenhouse gasses emissions for every sector, using current data.</p>
            <div class="inner-content">
               <p><%= link_to "Create a new Scenario", :controller => 'co2_scenarios'%></p>
               <br>
               <%= link_to image_tag("scenario.png"), :controller => 'co2_scenarios' %>
            </div>            
         </div>
         <div class="front-page-tab-body" id="maps">
            Visualize maps of the registered datasets
            <p class="intro">iGUESS can show you any registered dataset on an interactive map of your city.</p>
            <p class="intro">You can visualize and overlay energy planning layers with full web-gis capabilities.</p>
            <div class="inner-content">
               <p><%= link_to "Explore maps of my city", :controller => 'maps'%></p>
            </div>
            <br>
            <div class="welcomeimage">
            	<%= link_to image_tag("energy_savings.png", :class => "style_welcomeimage"), :controller => 'maps' %>
            </div>
         </div>
      </div>
</div>

<div class="clear"></div>

<script type="text/javascript">  // Activate the tabs with jquerytools>tabs
  // perform JavaScript after the document is scriptable.
  $(function() {
      // setup ul.tabs to work as tabs for each div directly under div.panes
      $("ul.dosomething").tabs("div.panes > div");
  });
</script>

<script>
    jQuery(document).ready(function ($) {
        var options = { $AutoPlay: true };
        var jssor_slider1 = new $JssorSlider$('slider1_container', options);
    });
</script>

