<!--    <div id="wrapper">

        <div id="gallery" class="nivoGallery">
            <ul>

                <li data-title="System Architecture"
                    data-caption="The iGUESS system architecture">
                    <img src="assets/slideshow/system_diagram.png" alt="" />
                </li>

				<li data-type="html" data-title="Introducing iGUESS"
				data-caption="The Data Management component">
					<table border=2>
							<td>

								<H3>Data Manager</H3>
							<br>
							* Upload new data sets to the system and register remote data services.
							<br><br>
							* Classify data sets as specific inputs to Modules.
							<br><br>
							* Update Metadata on stored data sets or linked data services.
							<br><br>
							* Invoke the calculation of new data sets.
							<br>
							</td>
							<td><img src="assets/slideshow/mapLayers.jpg"> lekfjlejclekjclkelkejc</td>
						</tr>
					</table>
				</li>

				<li data-type="html" data-title="Introducing iGUESS"
				data-caption="The Modules component">
					<table>
						<tr>
							<td><H3>Modules</H3>
								<br>
					* Browse Module Catalogue.
					<br><br>
					* Invoke calculations of new data sets.
					<br><br>
					* Configure Modules for alternative outputs.
					</td>
							<td><img src="assets/slideshow/mapLayers.jpg"></td>
						</tr>
					</table>
				</li>

				<li data-type="html" data-title="Introducing iGUESS"
				data-caption="A web based spatial decision support platform">
					<table>
						<tr>
							<td><H3>Energy Modelling / Scenarios</H3>
								<br>
					* Browse Scenario Catalog.
					<br><br>
					* Develop new Scenarios from the base-case Scenario.
					<br><br>
					* Run Scenarios.
					</td>
							<td><img src="assets/slideshow/mapLayers.jpg"></td>
						</tr>
					</table>
					<br>
				</li>

				<li data-type="html" data-title="Introducing iGUESS"
				data-caption="A web based spatial decision support platform">
					<table>
						<tr>
							<td><H3>Decision Support</H3>
								<br>
					* Compare Scenario output.
					<br><br>
					* Generate reports summarizing scenarios and their outcomes.
					<br><br>
					* Uncertainty Engine.
					</td>
							<td><img src="assets/slideshow/mapLayers.jpg"></td>
						</tr>
					</table>
					<br>
				</li>

				<li data-type="html" data-title="Introducing iGUESS"
				data-caption="A web based spatial decision support platform">
					<table>
						<tr>
							<td><H3>WebGIS</H3>
								<br>
					* Visualize spatial data sets.
					<br><br>
					* Compare Scenario outputs.
					<br><br>
							<td><img src="assets/slideshow/mapLayers.jpg"></td>
						</tr>
					</table>
					<br>
				</li>
            </ul>
        </div>

    </div>

    <%= javascript_include_tag "/jquery.nivo.gallery.min.js" %>

    <script type="text/javascript">
		$(document).ready(function() {
			$('#gallery').nivoGallery();
		});

    </script> -->

<!--    <% if not user_signed_in? %>
      <div class="center">
         <div style="font-size: 200%; background: yellow; padding-bottom: 10px;">Partners!  Please create an account with the New User botton in the upper right corner.</div>
         Once you are logged in, the site will behave as it always has.
      </div>
   <% end %> -->

   <%= render @site_details.body_html_file  %>

   <div class="headline" id="headline1">
      understand your options...
   </div>
   <div class="headline" id="headline2">
      plan your future.
   </div>

   <p id="headline-spacer"></p>

  <div id="front-page-tabs">
         <div class="tabs">
         <ul class="dosomething">
            <li><a href="#">View Some Data</a></li>
            <li><a href="#">Run Calculation Module</a></li>
            <li><a href="#">Check Running Module</a></li>
         </ul>
      </div>

      <!-- tab "panes" -->
      <div class="panes">
         <div class="front-page-tab-body" id="view-some-data">
            View your data or register new datasets
            <p class="intro">iGUESS can show you any registered dataset on an interactive map of your city.</p>
            <div class="inner-content">
               <p><%= link_to "Explore maps of my city", :controller => 'maps'%></p>
               <p><%= link_to "See my datasets", :controller => 'datasets'%></p>
               <p><%= link_to "Register new data", :controller => 'datasets', :action => 'mass_import', :id => 1 %></p>
            </div>
         </div>
         <div class="front-page-tab-body" id="run-a-module">
            Configure and run a calculation module
            <p class="intro">The module catalog shows the calculations that iGUESS can perform.</p>
            <div class="inner-content">
               <p><%= link_to "View module catalog", :controller => 'mod_configs', :anchor => 'module_catalog_tab'%></p>
            </div>
         </div>
         <div class="front-page-tab-body" id="check-module">
            Check on the status of a running module
            <p class="intro">Logged in users can view the status of modules being run at their city.</p>
            <div class="inner-content">
               <p><%= link_to "See running modules", :controller => 'mod_configs'%></p>
            </div>            
         </div>
      </div>


</div>

<div class="clear"></div>

   <script type="text/javascript">  // Activate the tabs with jquerytools>tabs
      // perform JavaScript after the document is scriptable.
      $(function() {
          // setup ul.tabs to work as tabs for each div directly under div.panes
          $("ul.dosomething").tabs("div.panes > div");
      });
   </script>


 <!--  
    <%= link_to "Manage WPS Servers", wps_servers_path %><br />
    <%= link_to "Manage Cities", cities_path %><br />
    <a href="#" onclick="alert('This function not yet implemented!')">Administer Databases</a> <br>
    <a href="data_requirements_spreadsheet.html">Dataset Requirements Spreadsheet</a>
 -->

    <br />
    <br />
    <br />

  </div>
