<!-- Print a table of parameters for the module specified in mod -->

<% editable = editable || false %>

<label class="simple_form label"><%= mode.slice(0,1).capitalize + mode.slice(1..-1) %>s</label>

<table class="zebra" id="<%= mode %>-table">

</table>

<%# Provide code for revalidating form after any best_in_place fields have been altered %>
<% if editable and not defined?(form) %>
  <script type="text/javascript">
    $('.best_in_place').best_in_place().bind('ajax:success', function(e) {
      $.get('get_config_status/<%= config.id %>', 
        function(response, status) { 
          showButton(response); 
          $("body").css("cursor", "auto");          // Restore cursor to normal
        });
    });
  </script>
<% end %>


<script type="text/javascript">

  <%# Creates fn called populateInputTable or populateOutputTable %>
  function populate<%= mode.slice(0,1).capitalize + mode.slice(1..-1) %>Table(items)
  {
    $('#<%= mode %>-table').empty();
    
    var header = '<tr><th>Parameter Name</th><th>Description</th>' + 
                 '<% if mode == :input %><th>Selected Dataset</th><% else %><th>Output Dataset Name</th><% end %></tr>';
    
    $('#<%= mode %>-table').append(header);
    
    var itemCount = items.length;
    for(var i = 0; i < itemCount; i++)
    {
      var row, col;
      
      row  = $(document.createElement('tr'));
      
      cell = $(document.createElement('td'));
      cell.text(items[i].title);
      row.append(cell);
      
      cell = $(document.createElement('td'));
      cell.text(items[i].descr);
      row.append(cell);
      
      cell = $(document.createElement('td'));
      
      
      <% if mode == :input %>
        var control = findAllDatasets(items[i].identifier);
        
        if(control.children().length == 0) {
          cell.text('No registered datasets of this type');
        } 
        else {
          cell.html(control);
        }
      <% else %>
        cell.html('<input type="text">');      
      <% end %>
      
      
      row.append(cell);
      
      $('#<%= mode %>-table').append(row);
    }
  }
  
    
    // processControl.attr({ class:'process-dropdown-control', id:'processControl' });
    
    // What to do when the user changes dataType for a layer
    // processControl.change(function() {
      // onProcessChanged();
    // });
    
  function findAllDatasets(identifier)
  {
    var ctrl = $(document.createElement('select'));
    
    for(var layerKey in registeredDataLayers) {
      if(registeredDataLayers[layerKey] == identifier) {
        ctrl.append('<option value="' + layerKey + '">' + discoveredLayers[layerKey].title + '</option>');
      }
    }
    
    return ctrl;
  }
  
 </script>
