<h1 class="page_header">Modules</h1>
<div class="page_subheader"></div>


<div class="explanation">
  <ul style="list-style-type: square;">
  <li>Users can create Modules from a Module Template by specifying all inputs and outputs that template requires.</li>
  <li>A list of Module Templates can be found in the Module Catalog.</li>
  </ul>
</div>


<ul class="tabs">
  <li><a class="l" id="t1" href="#configured_modules_tab">Configured Modules</a></li>
  <li><a class="l" id="t2" href="#module_catalog_tab">Module Catalog</a></li>
</ul>

<script type="text/javascript">

  <%
    processIdLookup = Hash.new
    ctr = 0

    @mod_configs.map{ |c| processIdLookup[c.wps_server.url + (c.identifier.blank? ? "" : c.identifier)] = 'x' + ctr.to_s; ctr+=1; }
  %>

  processIdLookup = { };
  <% lines = "" %>
  <% processIdLookup.each{ |u, i| lines += "processIdLookup['" + u + "'] = '" + i + "'; " } %>
  <%= raw lines %>



  var urls = [<%= @wps_servers.map{ |w| "'" + w.url + "'" }.join(',') %>];
  var responses = 0;

  // For each WPS url in our database, start probing the server
  // We need the results of onReceivedServerInfo to complete the Configured Modules tab
  // We need the results of onDescribedProcess to complete the Module Catalog tab
  for(var i = 0; i < urls.length; i++) {  WPS.probeWPS(urls[i], onReceivedServerInfo, onDescribedProcess);  }

  // This will be called when the GetCapabilities call to the WPS returns.  Should happen once per WPS server.
  function onReceivedServerInfo(url, title, abstract, processes)
  {
    $('.' + makeKey(url, 'title')).text(title);
    $('#' + makeKey(url, 'abstract')).text(abstract);
  }

  // This function is called when the describeProcesses response arrives
  // It will be called repeatedly as responses arrive
  function onDescribedProcess(process, serverName)
  {
    responses++;

    if(responses == WPS.getResponsesExpected()) {
      $('#wps-probing-indicator').hide();
    }

    var wrappedServer = process.wps.getCapabilitiesUrlGet;
    var server = WPS.unwrapProcServer(wrappedServer, process.identifier);
    var processId = processIdLookup[server + process.identifier];

    $("." + processId).html(process.title || process.identifier);
    $(".status-" + processId).html("Server available");

    var description = '<hr><h3 class="process-title">' + process.title + '</h3>' +
        '<div class="process-descr">' + process.abstract + '</div>' +
        '<div class="process-server-name"><span class="hosted-by">Hosted by:</span> <span class="server-name">' + serverName + '</span></div>' +

        '<table class="model-descr-table">' +
        '<tbody class="inputs">';
    if(process.inputs.length == 0) {
      description += '<tr><th colspan=3 class="group-header "><div class="outdent">No Inputs</div></th></tr>';
    } else {
      description += '<tr><th colspan=3 class="group-header" scope=rowgroup><div class="outdent">Model Inputs</div></th></tr>' +
                     '<tr><th>Parameter Name</th><th>Description</th></tr>';

      for(var i = 0; i < process.inputs.length; i++) {
        description += getDescrRow(process.inputs[i]);
      }
    }

    description += '</tbody><tbody class="outputs">';
    if(process.outputs.length == 0) {
      description += '<tr><th colspan=3 class="group-header"><div class="outdent">No Outputs</div></th></tr>';
    } else {
      description += '<tr><th colspan=3 class="group-header" scope=rowgroup><div class="outdent">Model Outputs</div></th></tr>' +
                     '<tr><th>Name</th><th>Description</th></tr>';

      for(var i = 0; i < process.outputs.length; i++) {
        description += getDescrRow(process.outputs[i]);
      }
    }

    description += '</tbody></table><a href="/mod_configs/new?template=' + (process.title + 'Q' + wrappedServer).makeHash() + '">Create new configuration for this service</a>';

    document.getElementById("wps-result").innerHTML += description;
  };


  // Formatting helper
  function getDescrRow(record)
  {
    var title    = record.title    ? record.title + ' [' + record.identifier + ']' : record.identifier;
    var abstract = record.abstract ? record.abstract : "<div class='center'>-</div>";

    return '<tr><td class="param-name">'  + title    + '</td>' +
               '<td class="param-descr">' + abstract + '</td></tr>';
  }

</script>



<div id="tab-panes" class="tab-pane-container">
  <div id="configured_modules_tab">
    <% if @mod_configs.empty? %>
      No modules have been configured yet.  <%= link_to 'Click here to create one.', new_mod_config_path %>
    <% else %>

    <div class="page_subheader">Modules that have been configured</div>

      <%= render :partial => '/shared/sortable_table_code.html.erb',
                 :locals => { :initialSortlist => "[[0,0]], headers: { 3: {sorter: false}}" } %>

      <table id="sortable_table" class="zebra sortable">
        <thead><tr><th>Name</th><th>Based on</th><th>Status</th><th>Notes</th></tr></thead>

        <tbody>
          <% @mod_configs.each do |mod_config| %>
            <tr>
              <td style="white-space: nowrap;"><%= link_to mod_config.name, mod_config %></td>
              <td class='<%= processIdLookup[mod_config.wps_server.url + (mod_config.identifier.blank? ? "" : mod_config.identifier)] =%>'
                  style="white-space: nowrap;">Probing server... <img src="assets/loading_spinner.gif"></td>
              <td class='status-<%= processIdLookup[mod_config.wps_server.url + (mod_config.identifier.blank? ? "" : mod_config.identifier)] =%>'
                  style="white-space: nowrap;">Probing server... <img src="assets/loading_spinner.gif"></td>
              <td><%= mod_config.descr %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br />

      <%= link_to 'New Module Configuration', new_mod_config_path %>
    <% end %>
  </div>

  <div id="module_catalog_tab">
    <div>
      Catalog of modules found on the following servers:
      <ul id="server-list"></ul>
      <a href="#">Add new server</a>
    </div>

    <div id="wps-probing-indicator">Probing servers... <img src="assets/loading_spinner.gif"></div>
    <div id="wps-result"></div>

    <%#= render :partial => '/mods/mods_catalog', :locals => { :all_mods => @mods } %>
  </div>
</div>

<%# Dynamically generate placeholders for the list of servers; these will be populated after we hear from our servers %>
<script type="text/javascript">
    <% @wps_servers.each do |s| %>
    var li = $(document.createElement('li'));

    var liHtml = '<div class="wps-title '       + makeKey('<%= s.url %>', 'title')    + '"></div>' +
                 '<div class="wps-descr" id ="' + makeKey('<%= s.url %>', 'abstract') + '"></div>';

    li.html(liHtml);

    $('#server-list').append(li);
  <% end %>
</script>

