<h1>Support requests</h1>
<br>
<div>
<button id="closed_toggle" title="Show/hide closed tickets" class="tickets_button">Show closed</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= button_to 'New request', new_ticket_path, :class => "tickets_button" %>
&nbsp;&nbsp;&nbsp;


</div>

<br> 
<table id="open_table" class="zebra sortable">
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody> 
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.id %></td>
      <td><%= link_to ticket.title, ticket %></td>
      <td><%= ticket.ticket_type.value %></td>
      <td><%= ticket.description[0..99] %>
          <%= if (ticket.description.size > 100) then "..." end %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<table id="closed_table" class="zebra sortable">
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody> 
  <% @tickets_closed.each do |ticket| %>
    <tr>
      <td><%= ticket.id %></td>
      <td><%= link_to ticket.title, ticket %></td>
      <td><%= ticket.ticket_type.value %></td>
      <td><%= ticket.description[0..99] %>
          <%= if (ticket.description.size > 100) then "..." end %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<script type="text/javascript">

	//Sorting
	$(document).ready(function() 
    { 
        $("#open_table").tablesorter();
        $("#closed_table").tablesorter();  
        $('#closed_toggle').click(function()
        {
   			if($("#closed_table").is(":visible"))  
   			{
   				$("#closed_table").hide();
   				$("#open_table").show();
   				$(this).text("Show closed");
   			}
   			else
   			{
   				$("#closed_table").show();
   				$("#open_table").hide();
   				$(this).text("Show open");
   			}
		});
		$("#closed_table").hide();
    });

  $(function() 
  {
    var theTable = $('#sortable_table')

    $("#filter").keyup(function() {
      $.uiTableFilter( theTable, this.value );
    })

    $('#filter-form').submit(function(){
      theTable.find("tbody > tr:visible > td:eq(1)").mousedown();
      return false;
    }).focus(); //Give focus to input field
  });
  
</script>