<%= form_for :ticket, url: tickets_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :ticket_type_id %><br>
    <%= collection_select(:ticket, :ticket_type_id, @ticket_types, :id, :value, {:prompt => false })  %>
  </p> 
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  
  <p>
    Attach an image:<br>
    <%= f.file_field :image_file %>
  </p>
 
 <br>
 
  <p>
    <%= f.submit 'Submit request' %>
  </p>
<% end %>