  <div class="ticket_title"><h3><%= @ticket.id %> - <%= @ticket.title %></h3></div>

  <table class="ticket_tab" width=100%>
  <tr>
  <td width=180px valign=top>
    <table class="ticket_author_tab" width=180px>
      <tr><td align=right> Author: </td> <td width=140px> <b><%= @ticket.user.first_name %> <%= @ticket.user.last_name %></b> </td> </tr>
      <tr><td align=right> Date:   </td> <td width=140px> <b><%= @ticket.created_at.strftime("%d-%m-%Y") %> </b> </td> </tr>
      <tr><td align=right> Type:   </td> <td width=140px> <b><%= @ticket.ticket_type.value %></b> </td> </tr>
      <tr><td align=right> Status: </td> <td width=140px> <b><%= @ticket.ticket_status.value %></b> </td> </tr>
    </table>
  </td>
  <td valign=top>
   <p>
     <%= @ticket.description %>
     <br><br>
     <a href="<%= @ticket.image.url() %>" target=blank>
     <%= if @ticket.image.exists? then image_tag(@ticket.image.url(:larger)) end %>
     </a>
   </p>
  </td>
  </tr>  
 </table>

<!--<h4>Follow ups</h4>-->
  <table class="zebra" width=100%>
<% even = false %>  
<% @ticket.ticket_follow_ups.each do |follow_up| %>
  <tr>
  <td width=180px  >
    <table class="ticket_author_tab">
      <tr class=" <%= if(even) then "even_row" else "odd_row" end %>">
      <td width=40px align=right> Author: </td> <td width=140px> <b><%= follow_up.user.first_name %> <%= follow_up.user.last_name %></b> </td> </tr>
      <tr class=" <%= if(even) then "even_row" else "odd_row" end %>">
      <td width=40px align=right> Date: </td> <td width=140px> <b><%= @ticket.created_at.strftime("%d-%m-%Y") %></b> </td> </tr>
    </table>
  </p>
  </td>
  <td> 
  <p>
    <%= follow_up.description %>
  </p>
  </td>
  </tr>  
<%   even = !even
   end %>
   </table>
   
    <br> <br>

<div id="comment_area">
<h4>Add a comment:</h4>
<%= form_for([@ticket, @ticket.ticket_follow_ups.build]) do |f| %>
  <p>
    <%= f.text_area :description, :cols => "100", :rows => "10" %>
  </p> 
  <p>
    <%= f.submit 'Comment' %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= if current_user.is_admin then f.submit 'Close and comment', :name => 'close' end %>
  </p>
<% end %>
</div> 
   <br>
 
<%= link_to 'Back to request list', tickets_path %>

<script>
	var hideCommentArea = function() {$("#comment_area").hide();}
	<%= if @closed then "hideCommentArea();" end %>
</script>