  <h3><%= @ticket.id %> - <%= @ticket.title %></h3>

  Author: <b><%= @ticket.user.first_name %> <%= @ticket.user.last_name %></b> &nbsp; | &nbsp; 
  Type:   <b><%= @ticket.ticket_type.value %></b> &nbsp; | &nbsp;
  Status: <b><%= @ticket.ticket_status.value %></b>
 
<p class="ticket_desc">
  <%= @ticket.description %>
</p>

 <%= simple_form_for @ticket_follow_up, :validate => true do |f| %>
  <%= f.error_notification %>

  <%= f.input :description, :as => :string, :placeholder => 'Follow up' %>

  <%= button_to "Submit Follow up", { :action => "create_follow_up", :controller => "tickets", :id => @mod_config.id }, 
                                      :remote => true,  
                                      form: { :id => "follow_up", "data-type" => "json" }  %>
                                       
 <% end %>