<table class="grid-input zebra">
  <tr>
    <th class="center">Period</th>
    <% @sources_factor.each do |s| %>
      <th class="center"><%= s.name %></th>
    <% end %>
  </tr>


  <% @periods.each do |period| %>
    <tr>
      <td><%= @scenario.base_year + period * @scenario.time_step %></td>
      <% @sources_factor.each do |source| %>
        <td>
          <input name="<%= fieldName %>[<%= period %>][<%= source.id %>]" 
                 type="text" value="<%= eval('@emission_factors[[period, source.id]].' + fieldName) %>"
                 onchange="stub(<%= period %>); return false;"/>
        </td>
      <% end %>
  <% end %>
</table>
