<hr>
<label>&nbsp;</label>
<h2><%= title %> Emission Factors</h2>

<label>&nbsp;</label>
<table class="grid-input zebra">
  <tr>
    <th class="center">Period</th>
    <% @sources.each do |s| %>
      <th class="center"><%= s.name %></th>
    <% end %>
  </tr>


  <% @periods.each do |period| %>
    <tr>
      <td><%= @scenario.base_year + period * @scenario.time_step %></td>
      <% @sources.each do |source| %>
        <td>
          <input name="<%= fieldName %>[<%= period %>][<%= source.id %>]" 
                 type="text" value="<%= eval('@emission_factors[[period, source.id]].' + fieldName) %>"/>
        </td>
      <% end %>
  <% end %>
</table>
