<% if flash[:error] %>
  <div class="error-msg"><%= flash[:error] %></div>
<% end %>

<script>
var CO2 = CO2 || { };		// Create namespace

CO2.numPeriods = <%= @periods.size %>;
CO2.elec_id = <%= @elec_id %>;
CO2.heat_id = <%= @heat_id %>;

stub = function(p) {CO2.updateEmissionsForPeriod(p);}
</script>

<%= simple_form_for @scenario do |scen| %>
  <%= scen.error_notification %>

  <table border=0 cellpadding=6>
    <tr><td>
    <%= scen.input :name, 
        :label => "Scenario Name", 
        :input_html => { :cols => 80 },
        :placeholder => "Name" %>

    <%= scen.input :base_year, 
        :label => "Base Year", 
        :as => :string,
        :placeholder => "e.g. 2010" %>

    <%= scen.input :time_step, 
        :label => "Time step (years)", 
        :as => :string %>

    </td><td width=240>  
    <div align=right>
	  <%= scen.submit buttonText %>
	  <br><br>
	  <button width=100>Add period</button>
	  <br><br>
	  <button width=100>Remove period</button>
    </div>
    </td></tr>
  </table>

  <hr>
  <label>&nbsp;</label>
  <table class="grid-input zebra">
    <tr>
      <th class="center">Sector</th>
      <th class="center">Demand<br>Growth<br>(%/yr)</th>
      <th class="center">Efficiency<br>Gain<br>(%/yr)</th>
      <th class="center">Total<br>Demand<br>(GWh)</th>
    </tr>

    <% index = 0 %>

    <% @sector_scenarios.each do |secscen| %>
      <tr>
        <input name="co2_sector_scenarios[<%= index %>][co2_sector_id]" 
               type="hidden" value="<%= secscen.co2_sector.id %>" />
        <td><%= secscen.co2_sector.name %></td>
        <td>
          <input name="co2_sector_scenarios[<%= secscen.co2_sector.id %>][demand]" 
                 type="text" value="<%= secscen.demand %>" 
                 onchange="CO2.calcSectorDemand(
         				'<%= secscen.co2_sector.name %>', 
            			'co2_sector_scenarios[<%= secscen.co2_sector.id %>][demand]',
            			'co2_sector_scenarios[<%= index %>][efficiency]',
            			'co2_sector_scenarios[<%= index %>][base_total]');"/>
        </td>
        <td>
          <input name="co2_sector_scenarios[<%= index %>][efficiency]" 
                 type="text" value="<%= secscen.efficiency %>" 
                 onchange="CO2.calcSectorDemand(
         				'<%= secscen.co2_sector.name %>', 
            			'co2_sector_scenarios[<%= secscen.co2_sector.id %>][demand]',
            			'co2_sector_scenarios[<%= index %>][efficiency]',
            			'co2_sector_scenarios[<%= index %>][base_total]');"/>
        </td>
        <td>
          <input name="co2_sector_scenarios[<%= index %>][base_total]" 
                 type="text" value="<%= secscen.base_total %>" 
                 onchange="CO2.calcSectorDemand(
         				'<%= secscen.co2_sector.name %>', 
            			'co2_sector_scenarios[<%= secscen.co2_sector.id %>][demand]',
            			'co2_sector_scenarios[<%= index %>][efficiency]',
            			'co2_sector_scenarios[<%= index %>][base_total]');"/>
        </td>
      </tr>
      
	  <!-- Calculate demand values for all periods. -->
	  <script>
	  	CO2.addToSectorArrays('<%= secscen.co2_sector.name %>');
		CO2.calcSectorDemand(
			'<%= secscen.co2_sector.name %>', 
			'co2_sector_scenarios[<%= secscen.co2_sector.id %>][demand]',
			'co2_sector_scenarios[<%= index %>][efficiency]',
			'co2_sector_scenarios[<%= index %>][base_total]'); 
	  </script>
      
      <% index += 1 %>
    <% end %>
  </table>




<%= render :partial => 'emission_factor.html.erb', 
            locals: { title: "CO2 (t/MWh)", fieldName: "co2_factor" } %>

<%= render :partial => 'emission_factor.html.erb', 
            locals: { title: "CH4 (g/MWh)", fieldName: "ch4_factor" } %>

<%= render :partial => 'emission_factor.html.erb', 
            locals: { title: "N2O (g/MWh)", fieldName: "n2o_factor" } %>



<%# Electricity Mix table %> 

    <hr>
    <label>&nbsp;</label>
    <h2>Mix: Electricity (%)</h2>

    <label>&nbsp;</label>
    <table class="grid-input zebra" id="tableElecMix">
      <tr>
        <th class="center">Period</th>
        <% @sources_elec.each do |s| %>
          <th class="center"><%= s.name %></th>
        <% end %>
        <th class="total-header center">Total</th>
      </tr>

      <% @periods.each do |period| %>
        <tr>
          <td><%= @scenario.base_year + period * @scenario.time_step %></td>
          <% @sources_elec.each do |source| %>
            <td>
              <input name="co2_elec_mixes[<%= period %>][<%= source.id %>]" 
                     type="text" value="<%= @elec_mixes[[period, source.id]].value %>" 
                     onchange="CO2.updateElecTotals(
         				<%= period %>, 
            			'co2_elec_mix_total_<%= period %>',
            			'tableElecMix'); return false;"/>
            </td>
          <% end %>
          <td>
            <input id="co2_elec_mix_total_<%= period %>" type="text" value="0" disabled/>
          </td>
        </tr>
        
        <!-- Invoke Totals function to calculate the sum. -->
        <script>
        	CO2.updateElecTotals(
         		<%= period %>, 
            	'co2_elec_mix_total_<%= period %>',
            	'tableElecMix'); 
        </script>
      <% end %>
    </table>


<%# Heat Mix table %> 

    <hr>
    <label>&nbsp;</label>
    <h2>Mix: District Heating (%)</h2>

    <label>&nbsp;</label>
    <table class="grid-input zebra" id="tableHeatMix">
      <tr>
        <th class="center">Period</th>
        <% @sources_heat.each do |s| %>
          <th class="center"><%= s.name %></th>
        <% end %>
        <th class="total-header center">Total</th>
      </tr>

      <% @periods.each do |period| %>
        <tr>
          <td><%= @scenario.base_year + period * @scenario.time_step %></td>
          <% @sources_heat.each do |source| %>
            <td>
              <input name="co2_heat_mixes[<%= period %>][<%= source.id %>]" 
                     type="text" value="<%= @heat_mixes[[period, source.id]].value %>" 
                     onchange="CO2.updateHeatTotals(
		         		<%= period %>, 
		            	'co2_heat_mix_total_<%= period %>',
		            	'tableHeatMix');  return false;"/>
            </td>
          <% end %>
          <td>
            <input id="co2_heat_mix_total_<%= period %>" type="text" value="0" disabled/>
          </td>
        </tr>
        
        <!-- Invoke Totals function to calculate the sum. -->
        <script>
        	CO2.updateHeatTotals(
         		<%= period %>, 
            	'co2_heat_mix_total_<%= period %>',
            	'tableHeatMix'); 
        </script>
      <% end %>
    </table>


  <% @sector_scenarios.each do |secscen| %>  <%# One table per sector %>
    <hr>
    <label>&nbsp;</label>
    <h2>Consumptions: <%= secscen.co2_sector.name %> (%)</h2>

    <label>&nbsp;</label>
    <table class="grid-input zebra" id="tableCons<%= secscen.co2_sector.name %>">
      <tr>
        <th class="center">Period</th>
        <% @sources_cons.each do |source| %>
          <th class="center"><%= source.name %></th>
        <% end %>
        <th class="total-header center">Total</th>
      </tr>

      <% year = @scenario.base_year %>
      <% @periods.each do |period| %>
        <tr>
          <td><%= year %></td>
          <% @sources_cons.each do |source| %>
            <td>
              <input name="co2_consumptions[<%= period %>][<%= source.id %>][<%= secscen.co2_sector.id %>]" 
                     type="text" value="<%= @consumptions[[period, source.id, secscen.co2_sector.id]].value %>" 
                     onchange="
                     	CO2.updateConsTotals(
                     		<%= period %>, 
                     		'<%= secscen.co2_sector.name %>',
                        	'co2_cons_total_<%= period %>_<%= secscen.co2_sector.id %>',
                        	'tableCons<%= secscen.co2_sector.name %>'); 
                        return false;"/>
            </td>
          <% end %>
          <td>
          	<input id="co2_cons_total_<%= period %>_<%= secscen.co2_sector.id %>" type="text" value="0" disabled/>
          </td>
        </tr>
        
        <!-- Invoke Totals function to calculate the sum. -->
        <script>
        	CO2.updateConsTotals(
         		<%= period %>, 
         		'<%= secscen.co2_sector.name %>',
            	'co2_cons_total_<%= period %>_<%= secscen.co2_sector.id %>',
            	'tableCons<%= secscen.co2_sector.name %>');
        </script>

        <% year += @scenario.time_step %>
      <% end %>
    </table>
  <% end %>
  
  <hr>
  
  <!-- And now for the charts -->
  
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>

  <div id="co2_chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  <br>
  <div id="ch4_chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  <br>
  <div id="n2o_chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  
  <script>CO2.updatePeriodNames();</script>
        
<% end %>