<script>
var CO2 = CO2 || { };		// Create namespace

CO2.numPeriods = <%= @periods.size %>;
CO2.elec_id = <%= @elec_id %>;
CO2.heat_id = <%= @heat_id %>;
CO2.eqCH4 = <%= @eq_ch4 %>;
CO2.eqN2O = <%= @eq_n20 %>;

stub = function(p) 
{
	CO2.updateEmissionsForPeriod(p);
	CO2.drawCharts();
}

var rollEmissionFactors = function()
{
	$('#emiss-factors').slideToggle();
	
	title = document.getElementById("emiss-factors-title");
	if (title.innerHTML[0] == "+")
		title.innerHTML = "- Emission Factors";
	else
		title.innerHTML = "+ Emission Factors";
}

submitForm = function()
{
	if(CO2.showMWh) CO2.toggleUnits();
	$('form').submit();
	return false;
}
 

//------- Tabs ---------//

  $(document).ready(function() 
  { 
    if($("#tabs-mix").length != 0) {
      $(function() {
        $('#tabs-mix').tabs('#tab-mix-panes > div', { history: true });
      });
    }
    
     if($("#tabs-cons").length != 0) {
      $(function() {
        $('#tabs-cons').tabs('#tab-cons-panes > div', { history: true });
      });
     }
     
     if($("#tabs-fact").length != 0) {
      $(function() {
        $('#tabs-fact').tabs('#tab-fact-panes > div', { history: true });
      });
    }   
    
    $('#emiss-factors').slideUp('fast');
  });

</script>

<%= simple_form_for @scenario do |scen| %>
  <%= scen.error_notification %>

  <table border=0 cellpadding=6>
    <tr><td>
    <%= scen.input :name, 
        :label => "Scenario Name", 
        :input_html => { :cols => 80 },
        :placeholder => "Name" %>

    <%= scen.input :base_year, 
        :label => "Base Year", 
        :as => :string,
        :placeholder => "e.g. 2010" %>

    <%= scen.input :time_step, 
        :label => "Time step (years)", 
        :as => :string %>
        
    <div class="input string optional co">
      <label class="string optional control-label" for="co2_scenario_author">
        Author
      </label>
      <input id="co2_scenario_author" class="string optional" type="text" disabled="disabled" 
      	value="<%= @author %>" size="50" name="co2_scenario[author]" cols="80"></input>
    </div>
        
    <div class="input string optional co">
      <label class="string optional control-label" for="co2_scenario_last_edit">
        Last edit
      </label>
      <input id="co2_scenario_author" class="string optional" type="text" disabled="disabled" 
      	value="<%= @last_edit %>" size="50" name="co2_scenario[last_edit]" cols="80"></input>
    </div>

    </td><td width=240>  
    <div align=right style="left: 550px; top: 240px; position: absolute">
	  <div id="butt-submit" class="co2-button" onclick="submitForm();">Save scenario</div>
	  <br>
	  <div id="butt-submit" class="co2-button" onclick="CO2.addPeriod();">Add period</div>
	  <br>
	  <div id="butt-submit" class="co2-button" onclick="CO2.removePeriod();">Remove period</div>
    </div>
    </td></tr>
  </table>
  
  <hr>

  <label>&nbsp;</label>
  <table class="grid-input zebra" id="tableSectors">
    	<%= render :partial => 'table_sectors.html.erb' %>
  </table>

<hr>

<h4>Energy Production (%)</h4>
<br>

<ul class="tabs" id="tabs-mix">
<li><a class="lco2" id="t4" href="#tabs-mix-4"><b>Electricity</b></a></li>
<li><a class="lco2" id="t5" href="#tabs-mix-5"><b>District Heating</b></a></li>
</ul>

<div id="tab-mix-panes" class="tab-pane-container">

  <div id="tabs-mix-4"> <%# Electricity Mix table %> 
 
    <table class="grid-input zebra" id="tableElecMix">
      <%= render :partial => 'table_elec_mixes.html.erb' %>
    </table>

  </div>

  <div id="tabs-mix-5"> <%# Heat Mix table %> 

    <table class="grid-input zebra" id="tableHeatMix">
      <%= render :partial => 'table_heat_mixes.html.erb' %>
    </table>

  </div>

</div>
<br>


<hr>
<table cellspacing=20><tr><td>
<h4 id="consump-title">Energy Consumption per Sector (%)</h4>
</td><td valign="middle"> 
<div id="butt-units" class="co2-button" onclick="CO2.toggleUnits();">Toggle units to MWh</div>
</td></tr></table>
<br>
<ul class="tabs" id="tabs-cons">
<% @sector_scenarios.each do |secscen| %> 
	<li><a class="lco2" id="t1" href="#tabs-fact-<%= secscen.co2_sector.id %>">
		<b><%= secscen.co2_sector.name %></b>
	</a></li>
<% end %>
</ul>

<div id="tab-cons-panes" class="tab-pane-container">
	<%= render :partial => 'table_consumptions.html.erb' %>   
</div> 
<br>  

<hr>
<div onclick="rollEmissionFactors();"><h4 id="emiss-factors-title" class="emiss-factors-title">+ Emission Factors</h4></div>
<br>
<div id="emiss-factors">
	<ul class="tabs" id="tabs-fact">
	<li><a class="lco2" id="t4" href="#tabs-fact-4"><b>CO2 (t/MWh)</b></a></li>
	<li><a class="lco2" id="t5" href="#tabs-fact-5"><b>CH4 (g/MWh)</b></a></li>
	<li><a class="lco2" id="t6" href="#tabs-fact-6"><b>N2O (g/MWh)</b></a></li>
	</ul>
	<div id="tab-fact-panes" class="tab-pane-container">
	
	  <div id="tabs-fact-4">
		<%= render :partial => 'emission_factor.html.erb', 
		            locals: { title: "CO2 (t/MWh)", fieldName: "co2_factor" } %>
	  </div>	            
	
	  <div id="tabs-fact-5">
		<%= render :partial => 'emission_factor.html.erb', 
		            locals: { title: "CH4 (g/MWh)", fieldName: "ch4_factor" } %>
	  </div>	            
	
	  <div id="tabs-fact-6">
		<%= render :partial => 'emission_factor.html.erb', 
		            locals: { title: "N2O (g/MWh)", fieldName: "n2o_factor" } %>
	  </div>	            
	
	</div>
</div>

	<br>            
	<hr>
  
  <!-- And now for the charts -->
  
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>

  <div id="co2_chart" class="chart"></div>
  <br>
  <div id="ch4_chart" class="chart"></div>
  <br>
  <div id="n2o_chart" class="chart"></div>
 
 
  <!-- Update totals and draw graphs -->
  
  <script>
  <% @periods.each do |period| %>
	CO2.updateElecTotals(
 		<%= period %>, 
    	'co2_elec_mix_total_<%= period %>',
    	'tableElecMix'); 

	CO2.updateHeatTotals(
 		<%= period %>, 
    	'co2_heat_mix_total_<%= period %>',
    	'tableHeatMix'); 

    <% @sector_scenarios.each do |secscen| %>
  	CO2.updateConsTotals(
 		<%= period %>, 
 		'<%= secscen.co2_sector.name %>',
    	'co2_cons_total_<%= period %>_<%= secscen.co2_sector.id %>',
    	'tableCons<%= secscen.co2_sector.name %>');
    <% end %>
    	
  <% end %>
  
  	CO2.updatePeriodNames();
  	CO2.chartsInit();
  	CO2.drawCharts();
  </script>
        
<% end %>