<script>

var co2 = co2 || { };

co2.updateTotal = function(p, s, size)
{
	id = "co2_cons_total_" + p + "_" + s;
	el = document.getElementById(id);
	total = 0.0;
	
	for(i=1; i <= size; i++)
	{
		name = "co2_consumptions[" + p + "][" + i + "][" + s + "]";
		total += parseFloat(document.getElementsByName(name)[0].value);
	}
	
	el.value = total;
};

</script/>

<h1>New Scenario!</h1>

<% if flash[:error] %>
  <div class="error-msg"><%= flash[:error] %></div>
<% end %>


<%= simple_form_for @scenario do |scen| %>
  <%= scen.error_notification %>

  <%= scen.input :name, 
        :label => "Scenario Name", 
        :input_html => { :cols => 80 },
        :placeholder => "Name" %>

  <%= scen.input :base_year, 
        :label => "Base Year", 
        :as => :string,
        :placeholder => "e.g. 2010" %>

  <%= scen.input :time_step, 
        :label => "Time step (years)", 
        :as => :string %>


  <hr>
  <label>&nbsp;</label>
  <table class="grid-input zebra">
    <tr>
      <th class="center">Sector</th>
      <th class="center">Demand<br>Growth<br>(%/yr)</th>
      <th class="center">Efficiency<br>Gain<br>(%/yr)</th>
      <th class="center">Total<br>Demand<br>(GWh)</th>
    </tr>

    <% index = 0 %>

    <% @sector_scenarios.each do |secscen| %>
      <tr>
        <input name="co2_sector_scenarios[<%= index %>][co2_sector_id]" 
               type="hidden" value="<%= secscen.co2_sector.id %>" />
        <td><%= secscen.co2_sector.name %></td>
        <td>
          <input name="co2_sector_scenarios[<%= index %>][demand]" 
                 type="text" value="<%= secscen.demand %>" />
        </td>
        <td>
          <input name="co2_sector_scenarios[<%= index %>][efficiency]" 
                 type="text" value="<%= secscen.efficiency %>" />
        </td>
        <td>
          <input name="co2_sector_scenarios[<%= index %>][base_total]" 
                 type="text" value="<%= secscen.base_total %>" />
        </td>
      </tr>
      <% index += 1 %>
    <% end %>
  </table>


  <% s_ctr = 0 %>
  <% @sector_scenarios.each do |secscen| %>  <%# One table per sector %>
    <hr>
    <label>&nbsp;</label>
    <h2>Consumptions: <%= secscen.co2_sector.name %></h2>

    <label>&nbsp;</label>
    <table class="grid-input zebra">
      <tr>
        <th class="center">Period</th>
        <% @carriers.each do |carrier| %>
          <th class="center"><%= carrier.name %></th>
        <% end %>
        <th class="total-header center">Total</th>
      </tr>

      <!-- Start with the base year -->
      <% year = @scenario.base_year %>
      <% p_ctr = 0 %>
      <% @periods.each do |period| %>
        <tr>
          <td><%= year %></td>
          <% c_ctr = 0 %>
          <% @carriers.each do |carrier| %>
            <td>
              <input name="co2_consumptions[<%= p_ctr %>][<%= carrier.id %>][<%= s_ctr %>]" 
                     type="text" value="<%= @consumptions[[p_ctr,c_ctr,s_ctr]].value %>"
                     onchange="co2.updateTotal(<%= p_ctr %>, <%= s_ctr %>, <%= @carriers.size %>);" />
            </td>
            <% c_ctr += 1 %>
          <% end %>
          <td>
          	<input id="co2_cons_total_<%= p_ctr %>_<%= s_ctr %>" type="text" value="0" disabled/>
          </td>
        </tr>
        
        <!-- Invoke Totals function to calculate the sum. -->
        <script>co2.updateTotal(<%= p_ctr %>, <%= s_ctr %>, <%= @carriers.size %>);</script>

        <% year += @scenario.time_step %>
        <% p_ctr += 1 %>
      <% end %>
    </table>
    <% s_ctr += 1 %>
  <% end %>

  <label>&nbsp;</label><%= scen.submit "Create New Scenario" %>
        
<% end %>