<script>
var CO2 = CO2 || { };		// Create namespace

CO2.numPeriods = <%= @periods.size %>;
CO2.elec_id = <%= @elec_id %>;
CO2.heat_id = <%= @heat_id %>;
CO2.eqCH4 = <%= @eq_ch4 %>;
CO2.eqN2O = <%= @eq_n20 %>;

CO2.timeStep = <%= @scenario.time_step %>;
CO2.baseYear = <%= @scenario.base_year %>;

</script>
  
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>


<%= simple_form_for @scenario do |scen| %>
  <%= scen.error_notification %>
  
  <h1 align=center><%= @scenario.name %></h1>
  
  <i><p align=center id="subtitle" style="font-size:14px;"></p></i>


<!-- The charts -->

  <br>
  <h2 align=center>Emissions</h2>
  <br>

  <div id="co2_chart" class="chart" style="width: 49%; float: left; margin: 1px;"></div>
  <div id="pie_chart" class="chart" style="width: 49%; float: right; margin: 1px;"></div>
  <br><hr style="border-top-width: 10px; border-color: #FFFFFF;">
  <h2 align=center style="margin-top: 10px;">Energy</h2>
  <br>
  <div id="energy_chart" class="chart" style="width: 49%; float: left; margin: 1px;"></div>
  <div id="prod_chart"   class="chart" style="width: 49%; float: right; margin: 1px;"></div>
  
<!-- Digest table -->
<br><br><br><br><br><br>
<table align=center border=1 cellpadding="8" cellspacing="4">
<tr>
 <th colspan=3 align=center><b align=center>Goal Year (2025)</b></th>
</tr>
 <tbody>
  <tr>
   <td>CO2</td>
   <td id="declinePrct" align=right></td>
   <td id="declineMWh" align=right></td>
  </tr>
  <tr>
   <td>CO2 eq</td>
   <td id="declineEquivPrct" align=right></td>
   <td id="declineEquivMWh" align=right></td>
  </tr>
  <tr>
   <td>Energy Savings</td>
   <td id="declineDemandPrct" align=right></td>
   <td id="declineDemandMWh" align=right></td>
  </tr>
  <tr>
   <td>Share of Renewables</td>
   <td><i>under development</i></td>
   <td><i>under development</i></td>
  </tr>
 </tbody>
</table>

<!-- Hidden data fields for the charts -->

  <div class="hidden">
    <%= scen.input :base_year, 
        :label => "Base Year", 
        :as => :string,
        :placeholder => "e.g. 2010", 
        :disabled => true %>

    <%= scen.input :time_step, 
        :label => "Time step (years)", 
        :as => :string, 
        :disabled => true %>       
  </div>  
  
     
<!-- Data tables for the charts -->

<table class="grid-input zebra" id="tableSectors" style="display: none">
	<%= render :partial => 'table_sectors.html.erb' %>
</table>

<table class="grid-input zebra" id="tableElecMix" style="display: none">
	<%= render :partial => 'table_elec_mixes.html.erb' %>
</table>

<table class="grid-input zebra" id="tableHeatMix" style="display: none">
	<%= render :partial => 'table_heat_mixes.html.erb' %>
</table>

<div id="tab-cons-panes" class="tab-pane-container" style="display: none">
	<%= render :partial => 'table_consumptions.html.erb' %>
</div> 
 
<div id="tab-fact-panes" class="tab-pane-container" style="display: none">
	<%= render :partial => 'emission_factor.html.erb', 
	            locals: { title: "CO2 (t/MWh)", fieldName: "co2_factor" } %>
	<%= render :partial => 'emission_factor.html.erb', 
	            locals: { title: "CH4 (g/MWh)", fieldName: "ch4_factor" } %>
	<%= render :partial => 'emission_factor.html.erb', 
	            locals: { title: "N2O (g/MWh)", fieldName: "n2o_factor" } %>
</div>
 
 
  <!-- Update totals and draw graphs -->
  
  <script>
  
  <% @sources_elec.each do |source| %>
  
	var values_<%= source.id %> = new Array();
	<% @periods.each do |period| %>
	values_<%= source.id %>.push(<%= 
     	if @elec_mixes[[period, source.id]] == nil
     		0.0
     	else
     		@elec_mixes[[period, source.id]].value
     	end
    %>);
	<% end %>
	
	CO2.elecSeries.push({name: "<%= source.name %>", data: values_<%= source.id %>});
  <% end %>

  <% @periods.each do |period| %>           	
    CO2.elecCategories.push(<%= period %> * CO2.timeStep + CO2.baseYear);
  <% end %>
  
  $("#subtitle").html("CO2.baseYear - <%= @scenario.base_year + @scenario.time_step * (@periods.size - 1) %>");
  
  <% @periods.each do |period| %>
	CO2.updateElecTotals(
 		<%= period %>, 
    	'co2_elec_mix_total_<%= period %>',
    	'tableElecMix'); 

	CO2.updateHeatTotals(
 		<%= period %>, 
    	'co2_heat_mix_total_<%= period %>',
    	'tableHeatMix'); 

    <% @sector_scenarios.each do |secscen| %>
  	CO2.updateConsTotals(
 		<%= period %>, 
 		'<%= secscen.co2_sector.name %>',
    	'co2_cons_total_<%= period %>_<%= secscen.co2_sector.id %>',
    	'tableCons<%= secscen.co2_sector.name %>');
    <% end %>
    	
  <% end %>
  
    $("#declinePrct").html(CO2.calcTotalDeclineAtYear(CO2.sector_co2).toFixed(2) + " %");
    $("#declineMWh").html(CO2.calcTotalAtYear(CO2.sector_co2, CO2.goalYear).toFixed(0) + " MWh");
    $("#declineEquivPrct").html(CO2.calcTotalEquivDeclineAtYear().toFixed(2) + " %");
    $("#declineEquivMWh").html(CO2.calcTotalEquivAtYear(CO2.goalYear).toFixed(0) + " ton");
    $("#declineDemandPrct").html(CO2.calcTotalDeclineAtYear(CO2.sector_demands).toFixed(2) + " %");
    $("#declineDemandMWh").html(CO2.calcTotalAtYear(CO2.sector_demands, CO2.goalYear).toFixed(0) + " MWh");
     
  	CO2.updatePeriodNames();
  	CO2.chartsInit();
  	CO2.chartArea("co2_chart", "CO2 Emissions by Sector", null, "ton/a", CO2.sector_co2);
  	CO2.chartArea("energy_chart", "Consumption", "Final energy consumption per sector", "MWh/a", CO2.sector_demands);
  	CO2.chartPie ("pie_chart", "Reference Year Analysis", "Carbon balance and areas of consumption", 
  		CO2.calcPieSeries(CO2.baseYear, CO2.timeStep));
  	CO2.chartColumnsPercent("prod_chart", "Electricity Production", null, CO2.elecCategories, CO2.elecSeries);
  	
  </script>

<br>

<% end -%>



