<h1>Scenario Summary</h1>

<%= simple_form_for @scenario do |scen| %>
  <%= scen.error_notification %>

    <div class="input string optional co">
      <label class="string optional control-label" for="co2_scenario_city">
        City
      </label>
      <input id="co2_scenario_city" class="string optional" type="text" disabled="disabled" 
      	value="<%= @city_name %>" size="50" name="co2_scenario[city]" cols="80"></input>
    </div>
        
    <%= scen.input :name, 
        :label => "Scenario Name", 
        :input_html => { :cols => 80 },
        :placeholder => "Name", 
        :disabled => true %>
        
    <%= scen.input :updated_at, 
        :label => "Date", 
        :input_html => { :cols => 80 }, 
        :disabled => true %>

    <%= scen.input :base_year, 
        :label => "Base Year", 
        :as => :string,
        :placeholder => "e.g. 2010", 
        :disabled => true %>

    <%= scen.input :time_step, 
        :label => "Time step (years)", 
        :as => :string, 
        :disabled => true %>
        
    <div class="input string optional co">
      <label class="string optional control-label" for="co2_scenario_num_periods">
        Number of Periods
      </label>
      <input id="co2_scenario_num_periods" class="string optional" type="text" disabled="disabled" 
      	value="<%= @num_periods %>" size="50" name="co2_scenario[num_periods]" cols="80"></input>
    </div>
        
    <div class="input string optional co">
      <label class="string optional control-label" for="co2_scenario_sectors">
        Sectors Involved
      </label>
      <textarea id="co2_scenario_sectors" class="string optional" type="text" disabled="disabled" 
      	value="" name="co2_scenario[sectors]" cols="62" rows="10">
      	<%= @sectors %>
      </textarea>
    </div>        

 
    <%= scen.input :assumptions, 
        :label => "Main Assumptions", 
        :input_html => { :cols => 80 } %>
        
    <%= scen.input :policies, 
        :label => "Key Policies Modelled", 
        :input_html => { :cols => 80 } %>
        
    <%= scen.input :conclusion, 
        :label => "Conclusion", 
        :input_html => { :cols => 80 } %>        

    <%= scen.input :notes, 
        :label => "Notes", 
        :input_html => { :cols => 80 } %>

<% end -%>


