<!DOCTYPE html>
<html>
<head>
  <title><%= @site.title %></title>

  <%# 
    meta_keywords and meta_description can either be a string that will be constant on every page, or a
    json structure that specifies different values for each tab.  Use the active_tab names defined
    in each controller for the keys when using json.
  %>
  <% if @site_details.meta_description.present? %>
    <% description = "" %>
    <% begin %>
      <% description = JSON.parse(@site_details.meta_description)[@activeTab] %>
    <% rescue %>
      <% description = @site_details.meta_description %>
    <% end %>

    <% if description.present? %>
      <meta name="description" content="<%= description %>" />
    <% end %>
  <% end %>


  <% if @site_details.meta_keywords.present? %>
    <% keywords = "" %>
    <% begin %>
      <% keywords = JSON.parse(@site_details.meta_keywords)[@activeTab] %>
    <% rescue %>
      <% keywords = @site_details.meta_keywords %>
    <% end %>

    <% if keywords.present? %>
      <meta name="keywords" content="<%= keywords %>" />
    <% end %>
  <% end %>

  <%= raw @site_details.additional_meta_tags %>
 

  <%= stylesheet_link_tag    :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    /* Script to enable JQuery UI / Themeroller buttons */
    /* http://www.filamentgroup.com/lab/styling_buttons_and_toolbars_with_the_jquery_ui_css_framework/ */
    $(document).ready(function(){
        //hover states on the static widgets
        $(".button_to").hover(
            function() { $(this).addClass('ui-state-hover'); },
            function() { $(this).removeClass('ui-state-hover'); }
        );
    });

    var isUserLoggedIn = function() { return <%= user_signed_in? ? 'true' : 'false' %>; }

  </script>

  <%# Include Google Map code -- needs to be loaded on every page to suppress errors in MapInit.js %>
  <script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>

  <%= stylesheet_link_tag "/site_styles/" + @site_details.stylesheet %>


</head>


<body class="<% if params[:popup].nil? %>basic<% else %>popup<% end %>">

<% if params[:popup].nil? %>

  <div id="top_banner">
    <%= if not @site_details.top_banner_file.blank? then 
      render "/home/" + @site_details.top_banner_file 
    end %>

    <div id="navbar" style="z-index:10;">
      <ul id="nav">
        <% tablist = @site_details.tab_list %>

        <% tabs = tablist.split(/,/) %>

        <% tabs.each do |tab| %>
          <% tab.strip! %>

          <% if tab == "home" %>
            <li id="nav-1" title="<u><b>Return to starting screen</b></u>">
                <a href="/" <% if @activeTab == "home" %>class="active-tab"<% end %>>Home</a>
            </li>
          <% elsif tab == "datamanager" %>
            <% if user_signed_in? %>
              <li id="nav-2" title="<u><b>Manage data</b></u><br>Upload new data, and view existing datasets">
                <%= link_to "Data Manager", datasets_path, :class => (@activeTab == "datamanager" ? "active-tab" : "") %>
              </li>
            <% end %>
          <% elsif tab == "modules" %>
            <li id="nav-3" title="<u><b>Configure & run modules</b></u><br>Create new datasets by running calculations">
              <%= link_to "Modules", mod_configs_path, :class => (@activeTab == "modules" ? "active-tab" : "") %>
            </li>
          <% elsif tab == "maps" %>     
            <li id="nav-6" title="<u><b>View maps</b></u><br>Visualize data and model results">
              <%= link_to "Maps", maps_path, :class => (@activeTab == "maps" ? "active-tab" : "") %>
            </li>
          <% elsif tab == "scenarios" %>
            <li id="nav-4" title="<u><b>Define and run scenarios</b></u><br>Scenarios are complex models of potential future situations">
              <%= link_to "Scenarios", co2_scenarios_path, :class => (@activeTab == "scenarios" ? "active-tab" : "") %>
            </li>    
          <% elsif tab == "about" %>        
            <li id="nav-8" title="<u><b>About</b></u><br>About this site and contact details">
                <%= link_to "About", about_path, :class => (@activeTab == "about" ? "active-tab" : "") %>
            </li>
          <% elsif tab == "support" %>        
            <li id="nav-9" title="<u><b>Support</b></u><br>Report issues and file functionality requests">
                <%= link_to "Support", tickets_path, :class => (@activeTab == "support" ? "active-tab" : "") %>
            </li>
          <% end %>
        <% end %>

    <!-- To hide some tabs on a per-application basis, add a style for #nav-2 (for example) with 
         styling of display:none;, or modify the tab_list column of site_details -->


        <div>
          <!-- For now, show city dropdown on maps and compares to all users, not on other pages unless user is a super user -->
          <!-- In future, we'll do this more elegantly by placing map chooser in map window itself -->
          <% if (user_signed_in? and current_user.role_id == 2 ) or params[:controller] == "maps"or params[:controller] == "compares" %>
            <select name="cities" id="city-dropdown">
              <% for city in City.find_all_by_site_details_id(@site_details.id) %>
                <option value="<%= city.id %>" 
                  <% if city.id.to_i == cookies['city'].to_i %>selected<% end %>>
                  <%= city.name %></option>
              <% end %>
            </select>
          <% end %>


          <div id="login">
            <% if user_signed_in? %> 
              Signed in as <%= current_user.first_name %> (<%= City.find_by_id(current_user.city_id).name %>)&nbsp;&nbsp;&nbsp;
              [<%= link_to 'Account', edit_user_registration_path %> |
              <%= link_to "Logout", destroy_user_session_path, :method => :delete %>]
            <% else %>  
              [<%= link_to "New User", new_user_registration_path %> |
              <%= link_to "Login", new_user_session_path %>]
            <% end %>  
          </div>
        </div>

        <script type="text/javascript">

            function setCityCookie(city) {
              $.cookie("city", city, { expires: 99999, path :"/" });
            }

            function getCityCookie() {
              return $.cookie("city", { path: "/foo"});
            }

            // If the city cookie doesn't exist when we load this page, create it
            // Note that the city-dropdown element will not be there for all users, so we need to check if the element is defined
            $(document).ready(function() {
              if(getCityCookie() == null && document.getElementById("city-dropdown")) {
                setCityCookie(document.getElementById("city-dropdown").value);
              }
            });

            $('#city-dropdown').change(function() {
              setCityCookie(this.value);
              if(typeof onLocationChanged != "undefined") 
                onLocationChanged(this.value);        // Implement this function on a page if you want to be alerted to a location change
              else
                location.reload();
            });
          </script>
      </ul>


    </div>
  </div>


<% end %>

<div id="main_body">

  <!-- Show any error messages that we might have -->
  <%= render :partial => 'shared/show_error_messages.html.erb' %>

  <%= yield %>
</div>
<script>
  $('#navbar li[title]').tooltip({ position: 'bottom center', offset: [0,55], predelay: 500 });   // Activate our tooltips
</script>

<% if params[:popup].nil? %>
  <!--<br><br><br>-->
<% end %>

<%= if @IncludeFooter and not @site_details.footer_html_file.blank? then 
      render "/home/" + @site_details.footer_html_file 
    end %>
</body>
</html>
